<div class="sm:border-2 rounded-lg sm:shadow my-4 p-1 sm:p-8" id="form_wrap">
  <%= form_with model: @drink_plan, local: true do |f| %>
    <div id="l_name">
      <i class="fas fa-caret-square-right text-blue-600"></i>
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div id="l_div">
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :time_unit %>
        <%= f.select :time_unit, DrinkPlan.time_units_i18n.invert, class: "time_unit_select" %>
      </div>
    </div>
    <div id="l_fee">
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :adult_fee %>
        <%= f.text_field :adult_fee, required: true, type: "number", min:"0" %>
      </div>
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :student_fee %>
        <%= f.text_field :student_fee, required: true, type: "number", min:"0" %>
      </div>
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :senior_fee %>
        <%= f.text_field :senior_fee, required: true, type: "number", min:"0" %>
      </div>
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :child_fee %>
        <%= f.text_field :child_fee, required: true, type: "number", min:"0" %>
      </div>
    </div>
    <div id="l_note">
      <div>
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :note %>
      </div>
      <div>
        <%= f.text_area :note %>
      </div>
    </div>
    <%= f.submit "登録", class: "btn_form_create" %>
  <% end %>
</div>
