<%= render "layouts/header_plans" %>
<h1 class="page_title">ドリンクコース一覧</h1>
<div id="d_search_box"  class="hidden md:flex">
  <%= search_form_for @q do |f| %>
  <div>
    <%= f.label :name_cont, "料金名称:", class: 'first_label'%>
    <%= f.search_field :name_cont %>
  </div>
  <div>
    <%= f.label :time_unit_eq, "単位:" %>
    <%= f.select :time_unit_eq, DrinkPlan.time_units.map{|k, v| [DrinkPlan.time_units_i18n[k], v]}, include_blank: true %>
  </div>
  <div id="index_search_btn">
    <%= f.submit "検索", class: "btn_search"  %>
  </div>
  <% end %>
</div>
<div class="flex justify-center" id="table_wrap">
  <table class="table-auto border-collapse border-2 border-gray-500 overflow-y-scroll w-full">
    <thead>
      <tr id="table_heading" class="bg-blue-500">
        <th class="index_table_head">No.</th>
        <th class="index_table_head">料金名称</th>
        <th class="index_table_head  hidden md:table-cell">単位</th>
        <th class="index_table_head  hidden md:table-cell">一般</th>
        <th class="index_table_head  hidden md:table-cell">学生</th>
        <th class="index_table_head  hidden md:table-cell">シニア</th>
        <th class="index_table_head  hidden md:table-cell">小学生</th>
        <th class="index_table_head" colspan="2"><i class="fas fa-edit text-white"></th>
      </tr>
    </thead>
    <tbody>
      <% @drink_plans.each.with_index(1) do |drink_plan, i| %>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="index_table_body"><%= i %></td>
          <td class="border border-gray-400 px-2 py-1 text-center text-blue-600 text-sm"><%= link_to drink_plan.name, drink_plan %></td>
          <td class="index_table_body  hidden md:table-cell"><%= drink_plan.time_unit_i18n %></td>
          <td class="index_table_body  hidden md:table-cell"><%= drink_plan.adult_fee %>円</td>
          <td class="index_table_body  hidden md:table-cell"><%= drink_plan.student_fee %>円</td>
          <td class="index_table_body  hidden md:table-cell"><%= drink_plan.senior_fee %>円</td>
          <td class="index_table_body  hidden md:table-cell"><%= drink_plan.child_fee %>円</td>
          <td class="index_table_body text-green-600"><%= link_to "編集", edit_drink_plan_path(drink_plan) %></td>
          <td class="index_table_body text-red-600"><%= link_to "削除", drink_plan, method: :delete, data: { confirm: "このプランを削除しますか?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
