<% content_for :title do %>
  管理画面:ドリンク料金一覧
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0">
    <%= render "layouts/header_shop" %>
  </div>
<% end %>
<% content_for :footer do %>
  <div class="fixed w-full md:hidden">
    <%= render "layouts/footer_shop" %>
  </div>
<% end %>
<div class="flex">
  <div class="flex items-center md:items-start bg-black bg-opacity-80 md:bg-app_bg" id="side_menu_shop">
    <%= render "layouts/side_menu_shop" %>
  </div>
  <div id="main_contents_shop">
    <div class="flex justify-center md:hidden">
      <%= render "layouts/flash" %>
    </div>
    <h1 class="page_title_shop">【ドリンク料金一覧】</h1>
    <div id="search_box"  class="hidden md:flex">
      <%= search_form_for @drink_search do |f| %>
        <div class="hidden lg:block" id="fee_type_search">
          <%= f.label :fee_type_eq, "料金名:" %>
          <%= f.select :fee_type_eq, DrinkPlan.fee_types.map{|k, v| [DrinkPlan.fee_types_i18n[k], v]}, include_blank: true %>
        </div>
        <div id="other_search">
          <%= f.label :div_time_eq, "時間区分:" %>
          <%= f.select :div_time_eq, DrinkPlan.div_times.map{|k, v| [DrinkPlan.div_times_i18n[k], v]}, include_blank: true %>
        </div>
        <div id="other_search">
          <%= f.label :base_time_eq, "基本時間:" %>
          <%= f.select :base_time_eq, DrinkPlan.base_times.map{|k, v| [DrinkPlan.base_times_i18n[k], v]}, include_blank: true %>
        </div>
        <div id="index_search_btn">
          <%= f.submit "検索", class: "btn_search"  %>
        </div>
      <% end %>
    </div>
    <div class="h-80 border border-gray-400 bg-white rounded-lg shadow overflow-x-auto overflow-y-auto relative mx-2 sm:mx-8 my-6 lg:mx-4 items-center">
      <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative" id="table_index">
        <thead>
          <tr id="table_heading" class="bg-blue-500 sticky top-0">
            <th class="index_table_head hidden lg:table-cell">No.</th>
            <th class="index_table_head">料金名</th>
            <th class="index_table_head">時間</th>
            <th class="index_table_head">基本</th>
            <th class="index_table_head hidden lg:table-cell">一般</th>
            <th class="index_table_head hidden lg:table-cell">学生</th>
            <th class="index_table_head hidden lg:table-cell">シニア</th>
            <th class="index_table_head hidden lg:table-cell">小学生</th>
            <th class="index_table_head border-gray-400 py-1" colspan="2"><i class="fas fa-edit text-white text-base"></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "drink_plan", collection: @drink_plans %>
          </tbody>
        </table>
      </div>
      <div class="w-3/4 mx-auto flex justify-center items-center">
        <%= link_to "新規登録", new_drink_plan_path, class:"w-full px-3 py-3 bg-app text-white text-center rounded" %>
      </div>
    </div>
  </div>
