<%= render "layouts/header_plans" %>
<h1 class="page_title">ドリンクコース料金詳細</h1>
<div id="show_wrapper">
  <div id="plan_title">
    <p class="bg-yellow-300 px-2 py-2 border-2 border-gray-500 rounded-md"><%= @drink_plan.name %></p>
  </div>
  <table class="table-auto border-collapse border-2 border-gray-500" id="d_plan_div_table">
    <thead>
      <tr id="table_heading" class="bg-blue-500 text-center text-sm font-bold">
        <th class="show_div_table_head">単位</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="show_div_table_body" style="width: 60px"><%= @drink_plan.time_unit_i18n %></td>
      </tr>
    </tbody>
  </table>
  <table class="table-auto border-collapse border-2 border-gray-500 w-full" id="plan_fee_table" id="plan_fee_table">
    <thead>
      <tr id="table_heading" class="bg-blue-500 text-center text-sm font-bold">
        <th class="show_fee_table_head w-1/4">一般料金</th>
        <th class="show_fee_table_head w-1/4">学生料金</th>
        <th class="show_fee_table_head w-1/4">シニア料金</th>
        <th class="show_fee_table_head w-1/4">小学生料金</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="show_fee_table_body"><%= @drink_plan.adult_fee.to_s(:delimited, delimiter: ',') %>円</td>
        <td class="show_fee_table_body"><%= @drink_plan.student_fee.to_s(:delimited, delimiter: ',') %>円</td>
        <td class="show_fee_table_body"><%= @drink_plan.senior_fee.to_s(:delimited, delimiter: ',') %>円</td>
        <td class="show_fee_table_body"><%= @drink_plan.child_fee.to_s(:delimited, delimiter: ',') %>円</td>
      </tr>
    </tbody>
  </table>
  <div id="plan_note">
    <h2 id="note_title">備考:</h2>
    <%= simple_format(@drink_plan.note) %>
  </div>
  <div id="link_btn">
    <%= link_to "編集", edit_drink_plan_path(@drink_plan), class: "btn_edit" %>
    <%= link_to "削除", drink_plan_path(@drink_plan), method: :delete, data: { confirm: "このプランを削除しますか?" }, class: "btn_delete" %>
  </div>
</div>
