<% content_for :title do %>
  管理画面:ドリンク料金詳細
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0">
    <%= render "layouts/header_shop" %>
  </div>
<% end %>
<% content_for :footer do %>
  <div class="fixed w-full md:hidden">
    <%= render "layouts/footer_shop" %>
  </div>
<% end %>
<div class="flex">
  <div class="flex items-center md:items-start bg-black bg-opacity-80 md:bg-app_bg" id="side_menu_shop">
    <%= render "layouts/side_menu_shop" %>
  </div>
  <div id="main_contents_shop">
    <h1 class="page_title_shop">【ドリンクコース料金詳細】</h1>
    <div id="show_wrapper">
      <div id="plan_title">
        <p class="bg-yellow-300 px-2 py-2 border-2 border-gray-500 rounded-md"><%= @drink_plan.fee_type_i18n %></p>
      </div>
      <table class="table-auto border-collapse border-2 border-gray-500" id="d_plan_div_table">
        <thead>
          <tr id="table_heading" class="bg-blue-500 text-center text-sm font-bold">
            <th class="show_div_table_head">基本時間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="show_div_table_body" style="width: 60px"><%= @drink_plan.base_time_i18n %></td>
          </tr>
        </tbody>
      </table>
      <table class="table-auto border-collapse border-2 border-gray-500 w-full" id="plan_fee_table" id="plan_fee_table">
        <thead>
          <tr id="table_heading" class="bg-blue-500 text-center text-sm font-bold">
            <th class="show_fee_table_head w-1/5"></th>
            <th class="show_fee_table_head w-1/5">一般料金</th>
            <th class="show_fee_table_head w-1/5">学生料金</th>
            <th class="show_fee_table_head w-1/5">シニア料金</th>
            <th class="show_fee_table_head w-1/5">小学生料金</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="show_fee_table_body">基本料金</td>
            <td class="show_fee_table_body"><%= @drink_plan.adult_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @drink_plan.student_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @drink_plan.senior_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @drink_plan.child_fee.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="show_fee_table_body">延長料金</td>
            <td class="show_fee_table_body"><%= @drink_plan.extension_adult_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @drink_plan.extension_student_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @drink_plan.extension_senior_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @drink_plan.extension_child_fee.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
        </tbody>
      </table>
      <div id="plan_note">
        <h2 id="note_title">備考:</h2>
        <%= simple_format(@drink_plan.note) %>
      </div>
      <div id="link_btn">
        <%= link_to "編集", edit_drink_plan_path(@drink_plan), class: "btn_edit" %>
        <%= link_to "削除", drink_plan_path(@drink_plan), method: :delete, data: { confirm: "このプランを削除しますか?" }, class: "btn_delete" %>
      </div>
    </div>
  </div>
</div>
