<div class="mt-6" id="fee_table">
  <h2 class="px-3 md:px-6">
    <i class="far fa-check-circle mr-1 text-app"></i><%= shop.name %>の料金表
  </h2>
  <div class="sm:max-w-2xl lg:max-w-6xl lg:grid lg:grid-cols-2">
    <div class="px-3 md:px-6">
      <h3 class="text-center p-2 bg-red-500 text-white mx-auto text-xl md:text-2xl">
        <i class="fas fa-sun text-white"></i>
        昼の料金<span class="text-base text-white ml-3">(OPEN〜19時)</span>
      </h3>
      <table class="w-full border-collapse table-fixed whitespace-no-wrap bg-white mx-auto" id="table_index">
        <thead>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <th class="fee_table_head bg-yellow-100" colspan="3">税&emsp;込</th>
            <th class="fee_table_head text-green-500" colspan="2">一般</th>
            <th class="fee_table_head text-red-500" colspan="2">会員</th>
            <th class="fee_table_head text-blue-500" colspan="2">学生</th>
            <th class="fee_table_head text-yellow-700" colspan="2">シニア</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body" colspan="2" rowspan="2">
              30分<br class="sm:hidden lg:block">
              料金
            </td>
            <td class="fee_table_body text-sm">平日</td>
            <td class="fee_table_body text-green-500" colspan="2" colspan="2"><%= main_plans.search_fee(0, 0, 0, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2"><%= main_plans.search_fee(0, 0, 0, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2"><%= main_plans.search_fee(0, 0, 0, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2"><%= main_plans.search_fee(0, 0, 0, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body text-sm">週末</td>
            <td class="fee_table_body text-green-500" colspan="2"><%= main_plans.search_fee(0, 2, 0, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2"><%= main_plans.search_fee(0, 2, 0, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2"><%= main_plans.search_fee(0, 2, 0, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2"><%= main_plans.search_fee(0, 2, 0, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body" colspan="2" rowspan="2">
              3時間<br class="sm:hidden lg:block">
              パック
            </td>
            <td class="fee_table_body text-sm">平日</td>
            <td class="fee_table_body text-green-500" colspan="2"><%= main_plans.search_fee(1, 0, 0, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2"><%= main_plans.search_fee(1, 0, 0, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2"><%= main_plans.search_fee(1, 0, 0, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2"><%= main_plans.search_fee(1, 0, 0, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body text-sm">週末</td>
            <td class="fee_table_body text-green-500" colspan="2"><%= main_plans.search_fee(1, 2, 0, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2"><%= main_plans.search_fee(1, 2, 0, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2"><%= main_plans.search_fee(1, 2, 0, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2"><%= main_plans.search_fee(1, 2, 0, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body" id="free_time_title" colspan="2" rowspan="2">
              昼フリー
              <br>
              <span class="text-xxs sm:text-xs ">
                OPEN
                <br id="free_time_br">
                〜19時
              </span>
            </td>
            <td class="fee_table_body text-sm">平日</td>
            <td class="fee_table_body text-green-500" colspan="2"><%= main_plans.search_fee(2, 0, 0, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2"><%= main_plans.search_fee(2, 0, 0, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2"><%= main_plans.search_fee(2, 0, 0, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2"><%= main_plans.search_fee(2, 0, 0, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body text-sm">週末</td>
            <td class="fee_table_body text-green-500" colspan="2"><%= main_plans.search_fee(2, 2, 0, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2"><%= main_plans.search_fee(2, 2, 0, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2"><%= main_plans.search_fee(2, 2, 0, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2"><%= main_plans.search_fee(2, 2, 0, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body text-sm py-2" colspan="11">
              【ワンドリンク制】
              <br class="block md:hidden">
              <i class="fa-solid fa-circle-exclamation text-red-500"></i>上記ルーム料金に別途ドリンク代が加算されます。
              <br>
              学生/シニアはドリンクバーが
              <span class="text-red-500">無料!!</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-6 lg:mt-0 px-3 md:px-6">
      <h3 class="text-center p-2 bg-blue-600 text-white mx-auto text-xl md:text-2xl">
        <i class="fas fa-moon text-white"></i>
        夜の料金<span class="text-base text-white ml-3">(19時〜CLOSE)</span>
      </h3>
      <table class="w-full border-collapse table-fixed whitespace-no-wrap bg-white mx-auto" id="table_index">
        <thead>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <th class="fee_table_head bg-yellow-100" colspan="3">税&emsp;込</th>
            <th class="fee_table_head text-green-500" colspan="2">一般</th>
            <th class="fee_table_head text-red-500" colspan="2">会員</th>
            <th class="fee_table_head text-blue-500" colspan="2">学生</th>
            <th class="fee_table_head text-yellow-700" colspan="2">シニア</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body" colspan="2" rowspan="2">
              30分<br class="sm:hidden lg:block">
              料金
            </td>
            <td class="fee_table_body text-sm">平日</td>
            <td class="fee_table_body text-green-500" colspan="2" colspan="2"><%= main_plans.search_fee(0, 0, 1, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2" colspan="2"><%= main_plans.search_fee(0, 0, 1, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2" colspan="2"><%= main_plans.search_fee(0, 0, 1, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2" colspan="2"><%= main_plans.search_fee(0, 0, 1, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body text-sm">週末</td>
            <td class="fee_table_body text-green-500" colspan="2" colspan="2"><%= main_plans.search_fee(0, 2, 1, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2" colspan="2"><%= main_plans.search_fee(0, 2, 1, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2" colspan="2"><%= main_plans.search_fee(0, 2, 1, 1, 1) %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2" colspan="2"><%= main_plans.search_fee(0, 2, 1, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body" colspan="2" rowspan="2">
              3時間<br class="sm:hidden lg:block">
              パック
            </td>
            <td class="fee_table_body text-sm">平日</td>
            <td class="fee_table_body text-green-500" colspan="2" colspan="2"><%= main_plans.search_fee(1, 0, 1, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2" colspan="2"><%= main_plans.search_fee(1, 0, 1, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2" colspan="2"><%= main_plans.search_fee(1, 0, 1, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2" colspan="2"><%= main_plans.search_fee(1, 0, 1, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body text-sm">週末</td>
            <td class="fee_table_body text-green-500" colspan="2" colspan="2"><%= main_plans.search_fee(1, 2, 1, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2" colspan="2"><%= main_plans.search_fee(1, 2, 1, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2" colspan="2"><%= main_plans.search_fee(1, 2, 1, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2" colspan="2"><%= main_plans.search_fee(1, 2, 1, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body" id="free_time_title"  colspan="2" rowspan="2">
              夜フリー
              <br>
              <span class="text-xxs sm:text-xs">
                22時
                <br id="free_time_br">
                〜翌5時
              </span>
            </td>
            <td class="fee_table_body text-sm">平日</td>
            <td class="fee_table_body text-green-500" colspan="2" colspan="2"><%= main_plans.search_fee(2, 0, 1, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2" colspan="2"><%= main_plans.search_fee(2, 0, 1, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2" colspan="2"><%= main_plans.search_fee(2, 0, 1, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2" colspan="2"><%= main_plans.search_fee(2, 0, 1, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body text-sm">週末</td>
            <td class="fee_table_body text-green-500" colspan="2" colspan="2"><%= main_plans.search_fee(2, 2, 1, 0, 0) %>円</td>
            <td class="fee_table_body text-red-500" colspan="2" colspan="2"><%= main_plans.search_fee(2, 2, 1, 1, 0) %>円</td>
            <td class="fee_table_body text-blue-500" colspan="2" colspan="2"><%= main_plans.search_fee(2, 2, 1, 1, 1)  %>円</td>
            <td class="fee_table_body text-yellow-700" colspan="2" colspan="2"><%= main_plans.search_fee(2, 2, 1, 1, 2) %>円</td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="fee_table_body text-sm py-2" colspan="11">
              【ワンドリンク制】
              <br class="block md:hidden">
              <i class="fa-solid fa-circle-exclamation text-red-500"></i>上記ルーム料金に別途ドリンク代が加算されます。
              <br>
              学生/シニアはドリンクバーが
              <span class="text-red-500">無料!!</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
