<div class="mt-6 md:mt-3 px-3 fee_table<%= shop.id %>" id="table">
  <h2 class="text-center mt-2 sm:mt-6 p-2 bg-app text-white mx-auto text-xl md:text-2xl">
    <i class="fas fa-sun text-white"></i>【昼】料金表
  </h2>
  <table class="w-full border-collapse table-fixed whitespace-no-wrap bg-white mx-auto" id="table_index">
    <thead>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <th class="fee_table_head" colspan="3"></th>
        <th class="fee_table_head text-green-500">一般</th>
        <th class="fee_table_head text-red-500">会員</th>
        <th class="fee_table_head text-blue-500">学生</th>
        <th class="fee_table_head text-yellow-700">シニア</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body" colspan="2" rowspan="2">30分料金</td>
        <td class="fee_table_body">平日</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 0, 0, 0, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 0, 0, 0, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 0, 0, 0, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 0, 0, 0, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body">週末</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 0, 2, 0, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 0, 2, 0, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 0, 2, 0, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 0, 2, 0, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body" colspan="2" rowspan="2">3時間パック</td>
        <td class="fee_table_body">平日</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 1, 0, 0, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 1, 0, 0, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 1, 0, 0, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 1, 0, 0, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body">週末</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 1, 2, 0, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 1, 2, 0, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 1, 2, 0, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 1, 2, 0, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body" colspan="2" rowspan="2">昼フリー</td>
        <td class="fee_table_body">平日</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 2, 0, 0, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 2, 0, 0, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 2, 0, 0, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 2, 0, 0, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body">週末</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 2, 2, 0, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 2, 2, 0, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 2, 2, 0, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 2, 2, 0, 1).senior_fee %>円</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mt-6 md:mt-3 px-3">
  <h2 class="text-center mt-2 sm:mt-6 p-2 bg-app text-white mx-auto text-xl md:text-2xl">
    <i class="fas fa-moon text-white"></i>【夜】料金表
  </h2>
  <table class="w-full border-collapse table-fixed whitespace-no-wrap bg-white mx-auto" id="table_index">
    <thead>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <th class="fee_table_head" colspan="3"></th>
        <th class="fee_table_head text-green-500">一般</th>
        <th class="fee_table_head text-red-500">会員</th>
        <th class="fee_table_head text-blue-500">学生</th>
        <th class="fee_table_head text-yellow-700">シニア</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body" colspan="2" rowspan="2">30分料金</td>
        <td class="fee_table_body">平日</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 0, 0, 1, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 0, 0, 1, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 0, 0, 1, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 0, 0, 1, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body">週末</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 0, 2, 1, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 0, 2, 1, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 0, 2, 1, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 0, 2, 1, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body" colspan="2" rowspan="2">3時間パック</td>
        <td class="fee_table_body">平日</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 1, 0, 1, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 1, 0, 1, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 1, 0, 1, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 1, 0, 1, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body">週末</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 1, 2, 1, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 1, 2, 1, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 1, 2, 1, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 1, 2, 1, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body" colspan="2" rowspan="2">夜フリー</td>
        <td class="fee_table_body">平日</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 2, 0, 1, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 2, 0, 1, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 2, 0, 1, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 2, 0, 1, 1).senior_fee %>円</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="fee_table_body">週末</td>
        <td class="fee_table_body text-green-500"><%= @main_plans.search_main_fee(shop.id, 2, 2, 1, 0).adult_fee %>円</td>
        <td class="fee_table_body text-red-500"><%= @main_plans.search_main_fee(shop.id, 2, 2, 1, 1).adult_fee %>円</td>
        <td class="fee_table_body text-blue-500"><%= @main_plans.search_main_fee(shop.id, 2, 2, 1, 1).student_fee  %>円</td>
        <td class="fee_table_body text-yellow-700"><%= @main_plans.search_main_fee(shop.id, 2, 2, 1, 1).senior_fee %>円</td>
      </tr>
    </tbody>
  </table>
</div>