<% content_for :title do %>
  飲み放題プラン
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0 z-10">
    <%= render "layouts/header_user" %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>
<div id="margin_wrapper"></div>
<% breadcrumb :alcohol %>
<%= breadcrumbs separator: " &rsaquo; " %>
<%= render "alcohol_plan_cheat_sheet" %>
<%= render "alcohol_plan_menu" %>
<%= render "layouts/side_menu_user" %>
<div class="">
  <div class="bg-gray-600 flex justify-center items-center rounded-lg" id="page_top">
    <a href="#">
      <div id="triangle"></div>
      <p class="text-white text-center">TOP</p>
    </a>
  </div>
</div>
