<% content_for :title do %>
  クーポン
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0 z-10">
    <%= render "layouts/header_user" %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>
<div id="margin_wrapper"></div>
<% breadcrumb :coupon %>
<%= breadcrumbs separator: " &rsaquo; " %>
<%= render_display_coupon %>
<%= render "layouts/side_menu_user" %>
