<% content_for :title do %>
  料金表
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0 z-10">
    <%= render "layouts/header_user" %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>
<div id="margin_wrapper"></div>
<% breadcrumb :fee_table %>
<%= breadcrumbs separator: " &rsaquo; " %>
<p class="mt-6 sm:mt-3 mb-1 text-center text-gray-500">店舗を選んでください</p>
<%= form_tag fee_list_change_path, method: :get, remote: true do %>
  <%= select_tag :id, options_from_collection_for_select(Shop.all, :id, :name ), id: "select-drop" %>
  <div class="hidden">
    <input type="submit" id="fee_change_btn" >
  </div>
<% end %>
<div id="fee_list_display">
  <%= render "fee_list", { shop: @shop, main_plans: @main_plans } %>
</div>
<%= render "layouts/side_menu_user" %>
