<div class="w-full rounded overflow-hidden shadow items-center border border-gray-200 mx-auto mb-2 grid grid-cols-1 sm:grid-cols-2 gap-3 h-48 px-2 max-w-2xl" id="shops_card">
  <div class="text-center font-bold text-sm overflow-hidden h-44" id="shop_info">
    <div class="text-xl mt-3 pl-2 text-left text-blue-500" id="shop_name">
      <%= link_to shop_path(shop) do %>
        <i class="fas fa-chevron-circle-right text-app mr-1"></i><%= shop.name %>
      <% end %>
    </div>
    <div class="text-left mt-2 px-3 h-14">
      <i class="fas fa-map-marker-alt mr-1 text-gray-400"></i><%= shop.prefecture_name %>
      <%= shop.address_city %>
      <%= shop.address_street %>
      <%= shop.address_building %>
    </div>
    <div class="w-full text-center font-bold text-sm overflow-hidden mb-3" id="shop_another_info">
      <div id="shop_tel">
        <p class="w-48 text-lg text-white hover:text-app bg-app hover:bg-white border-2 border-white hover:border-app px-2 py-2 rounded-full mx-auto">
          <%= link_to "電話をかける", "tel:" + shop.phone_number %>
        </p>
      </div>
    </div>
  </div>
  <div class="hidden sm:block">
    <%# 運用においては登録した店舗画像を使用 %>
    <img src="/assets/room01.jpg" alt="" class="h-44 mx-auto">
  </div>
</div>
