<% content_for :title do %>
  店舗検索
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0 z-10">
    <%= render "layouts/header_user" %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>
<div id="margin_wrapper"></div>
<% breadcrumb :shop_index %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="mx-auto mt-2 px-5 grid grid-cols-1 sm:grid-cols-2 gap-4" id="shops_wrapper">
  <% @shops.each do |shop| %>
    <div>
      <%= link_to shop_path(shop) do %>
        <div class="rounded overflow-hidden shadow items-center border border-gray-200 mx-auto mb-2 p-3" id="shops_card">
          <div class="" id="card_top">
            <div class="w-full text-center font-bold text-sm overflow-hidden" id="topics_title">
              【<%= shop.name %>】
            </div>
            <div class="w-full text-center font-bold text-sm overflow-hidden" id="topics_title">
              <p class="text-blue-500">
                TEL:
                <%= link_to shop.phone_number, "tel:" + shop.phone_number %>
              </p>
            </div>
            <div class="w-full text-center font-bold text-sm overflow-hidden" id="topics_title">
              <p>
                〒<%= shop.postcode %>
                <br>
                <%= shop.prefecture_name %>
                <%= shop.address_city %>
                <%= shop.address_street %>
                <br>
                <%= shop.address_building %>
              </p>
            </div>
          </div>
          <div class="flex justify-between" id="card_bottom">
            <div class="flex justify-center items-center" id="topics_thumbnail">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= render "layouts/side_menu_user" %>
