<% content_for :title do %>
  店舗検索
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0 z-10">
    <%= render "layouts/header_user" %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>
<div id="margin_wrapper"></div>
<% breadcrumb :shop_index %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="w-full pb-24 mt-5">
  <%= search_form_for @shop_search do |f| %>
    <div id="shop_search_box" class="sm:flex justify-center">
      <div class="mx-auto sm:mx-0 w-80 sm:w-auto px-1 mb-1 flex items-center">
        <%= f.label :address_city_cont, "市区町村で検索:", class: "sm:mr-3 sm:text-lg" %>
      </div>
      <div class="mx-auto sm:mx-0 flex w-80 h-12 sm:w-96 sm:h-14 border rounded-lg" id="shop_address_search">
        <div class="w-3/4 flex items-center rounded-l-lg">
          <%= f.search_field :address_city_cont, placeholder: "神戸市", class: "rounded-l-lg px-3" %>
        </div>
        <%= button_to "", type: "submit", class: "w-1/4 h-full flex justify-center items-center text-white bg-app text-lg rounded-r-lg" do %>
          <i class="fa-solid fa-magnifying-glass text-white mt-1 mr-1"></i>検索
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @shops.present? %>
    <p class="text-center mt-5 mb-5">
      検索結果：
      <span class="text-app text-xl"><%= @count %>件</span>
      見つかりました!
    </p>
    <div class="w-full mx-auto mt-2 px-4 md:px-8 grid grid-cols-1 xl:grid-cols-2 gap-4" id="shops_wrapper">
      <%= render partial: "shop", collection: @shops  %>
    </div>
  <% else %>
    <div class="w-full flex justify-center mt-8">
      <p class="text-lg">該当する店舗はありませんでした</p>
    </div>
  <% end %>
</div>
<%= render "layouts/side_menu_user" %>
