<% content_for :title do %>
  店舗検索
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0 z-10">
    <%= render "layouts/header_user" %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>
<div id="margin_wrapper"></div>
<% breadcrumb :shop_index %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="w-full pb-24">
  <div id="shop_search_box" class="w-full">
    <%= search_form_for @shop_search do |f| %>
      <div class="" id="shop_address_search">
        <%= f.label :address_city_cont, "市区町村で検索:", class: "" %>
        <%= f.search_field :address_city_cont, placeholder: "神戸市" %>
      </div>
      <div id="shop_search_btn">
        <%= f.submit "検索する", class: "btn_search_shop"  %>
      </div>
    <% end %>
  </div>
  <% if @shops.present? %>
    <p class="text-center mb-4">
      検索結果：
      <span class="text-app text-xl"><%= @count %>件</span>
      見つかりました!
    </p>
    <div class="w-full mx-auto mt-2 px-5 md:px-8 grid grid-cols-1 xl:grid-cols-2 gap-4" id="shops_wrapper">
      <%= render partial: "shop", collection: @shops  %>
    </div>
  <% else %>
    <div class="w-full flex justify-center">
      <p class="text-lg">該当する店舗はありませんでした</p>
    </div>
  <% end %>
</div>
<%= render "layouts/side_menu_user" %>
