<div class="mt-6">
  <h3>店舗名</h3>
  <p><%= @shop.name %></p>
  <h3>電話番号</h3>
  <p><%= @shop.phone_number %></p>
  <h3>住所</h3>
  <p><%= @shop.postcode  %></p>
  <p><%= @shop.prefecture_name  %></p>
  <p><%= @shop.address_city  %></p>
  <p><%= @shop.address_street %></p>
  <p><%= @shop.address_building %></p>
</div>
