<div class="" id="">
  <div>
    <p>料金合計</p>
    <p><%= @fee_info.total_fee.to_s(:delimited, delimiter: ',') %></p>
  </div>
  <div class="flex justify-center px-3 sm:px-6">
  <table class="table-fixed border-collapse border-4 border-yellow-500  overflow-y-scroll sm:w-full sm:max-w-screen-md">
    <thead>
      <tr id="table_heading" class="">
        <th class="fee_info_table_head"></th>
        <th class="fee_info_table_head">ルーム料金</th>
        <th class="fee_info_table_head">ドリンク料金</th>
        <th class="fee_info_table_head">お一人様あたり</th>
        <th class="fee_info_table_head">ご利用人数</th>
        <th class="fee_info_table_head">合計</th>
      </tr>
    </thead>
    <tbody>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-10">
          <td class="border-2 border-yellow-500 px-2 py-1  text-green-500 text-center text-xs sm:text-sm font-black">一般</td>
          <td class="fee_info_table_body  text-green-500"><%= @fee_info.adult_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body  text-green-500"><%= @fee_info.adult_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body  text-green-500"><%= @fee_info.adult_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body  text-green-500"><%= @fee_info.number_of_adults %>名</td>
          <td class="fee_info_table_body  text-green-500"><%= @fee_info.adult_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-10">
          <td class="border-2 border-yellow-500 px-2 py-1 text-blue-500 text-center text-xs sm:text-sm font-black">学生</td>
          <td class="fee_info_table_body text-blue-500"><%= @fee_info.student_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-blue-500"><%= @fee_info.student_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-blue-500"><%= @fee_info.student_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-blue-500"><%= @fee_info.number_of_students %>名</td>
          <td class="fee_info_table_body text-blue-500"><%= @fee_info.student_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-10">
          <td class="border-2 border-yellow-500 px-2 py-1 text-yellow-900 text-center text-xs sm:text-sm font-black">シニア</td>
          <td class="fee_info_table_body text-yellow-900"><%= @fee_info.senior_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-yellow-900"><%= @fee_info.senior_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-yellow-900"><%= @fee_info.senior_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-yellow-900"><%= @fee_info.number_of_seniors %>名</td>
          <td class="fee_info_table_body text-yellow-900"><%= @fee_info.senior_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
        <tr class="border-b border-yellow-500 hover:bg-yellow-600 hover:bg-opacity-10">
          <td class="border-2 border-yellow-500 px-2 py-1 text-red-500 text-center text-xs sm:text-sm font-black">小学生</td>
          <td class="fee_info_table_body text-red-500"><%= @fee_info.child_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-red-500"><%= @fee_info.child_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-red-500"><%= @fee_info.child_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="fee_info_table_body text-red-500"><%= @fee_info.number_of_children %>名</td>
          <td class="fee_info_table_body text-red-500"><%= @fee_info.child_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
    </tbody>
  </table>
</div>
