<%= form_with model: @topic, local: true do |f| %>
  <div class="w-5/6 mx-auto border-2 rounded-lg shadow my-6 p-5">
    <div class="w-full mb-5 ml-1 sm:ml-3">
      <%= f.label :title, "タイトル", class: "mr-2 text-sm" %>
      <%= f.text_field :title, class: "block border border-gray-400 rounded-lg w-5/6 w-11/12 h-8 text-xs px-3 mt-1" %>
    </div>
    <div class="w-full mb-5 ml-1 sm:ml-3">
      <%= f.label :content, "内容", class: "mr-2 text-sm" %>
      <%= f.text_area :content, class: "block border border-gray-400 rounded-lg w-11/12 h-20 text-xs px-2 py-1 mt-1" %>
    </div>
    <div class="w-full mb-10 ml-1 sm:ml-3">
      <%= f.label :image, "画像をアップロード" %>
        <div class="border border-gray-400 rounded-lg mt-2 text-center overflow-hidden cursor-pointer" id="img_field" onClick="$('#file').click()" >
            <%= image_tag(@topic.image.url) %>
        </div>
      <%= f.file_field :image, class: "image block", style: "display:none;", id: "file"%>
    </div>
    <div>
      <%= f.submit "投稿", class: "btn_form_create py-3" %>
    </div>
  </div>
<% end %>