<% content_for :title do %>
    TOPICS一覧
<% end %>
<% content_for :header do %>
  <% if shop_signed_in? %>
    <div class="fixed w-full">
      <%= render "layouts/header_plans" %>
    </div> 
  <% else %>
    <div class="fixed w-full">
      <%= render "layouts/header" %>      
    </div>
  <% end %>  
<% end %>

<div class="flex" id="main_wrapper">
  <div class="h-full flex items-center md:items-start bg-black bg-opacity-80 md:bg-app_bg" id="side_menu">
    <%= render "layouts/side_menu" %>
  </div>
  <div id="main_contents">
    <h1 class="page_title mb-6">TOPICS一覧</h1>
    <div class="mx-auto mt-2 px-5 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4" id="topics_wrapper">
      <% @topics.each do |topic, i| %>
        <%= link_to topic_path(topic) do %>
          <div class="rounded overflow-hidden shadow items-center border border-gray-200 mx-auto mb-2" id="topics_card">
            <div class="flex justify-between" id="card_top">
              <div class="flex justify-center items-center" id="topics_date">
                <div class="bg-app-light rounded-full text-xxs text-center font-semibold text-white" >
                  <%= topic.created_at.strftime('%Y/%m/%d') %>
                </div>
              </div>
              <div class="font-bold text-xxs text-center overflow-hidden" id="topics_title">
                  【<%= topic.title %>】
              </div>
            </div>
            <div class="flex justify-between" id="card_bottom">
              <div class="flex justify-center items-center" id="topics_thumbnail">
                <%= image_tag topic.image.url, id: "topics_img" %>
              </div>
              <div class="bg-app-light bg-opacity-10 rounded overflow-hidden" id="topics_contents">
                <%= simple_format(h(topic.content), class: 'text-gray-700 text-xxs overflow-hidden') %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="md:hidden">
  <%= render "layouts/footer_plans" %>
</div>
