<% content_for :title do %>
    TOPICS一覧
<% end %>
<% content_for :header do %>
  <% if shop_signed_in? %>
    <div class="fixed w-full">
      <%= render "layouts/header_shop" %>
    </div> 
  <% else %>
    <div class="fixed w-full top-0 left-0">
      <%= render "layouts/header_shop" %>      
    </div>
  <% end %>  
<% end %>
<% content_for :footer do %>
  <div class="fixed w-full bottom-0 left-0">
    <%= render "layouts/footer_shop" %>
  </div>
<% end %>

<div class="flex">
  <div class="flex items-center md:items-start bg-black bg-opacity-80 md:bg-app_bg" id="side_menu_shop">
    <%= render "layouts/side_menu_shop" %>
  </div>
  <div id="main_contents_shop">
    <h1 class="page_title mb-6">TOPICS一覧</h1>
    <div class="mx-auto mt-2 px-5 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4" id="topics_wrapper">
      <% @topics.each do |topic, i| %>
        <%= link_to topic_path(topic) do %>
          <div class="rounded overflow-hidden shadow items-center border border-gray-200 mx-auto mb-2" id="topics_card">
            <div class="" id="card_top">
              <div class="" id="topics_date">
                <div class="bg-app-light rounded-full text-sm text-center font-semibold text-white px-2 mt-2 mb-2" >
                  <%= topic.created_at.strftime('%Y年%m月%d日') %>
                </div>
              </div>
              <div class="w-full text-center font-bold text-sm overflow-hidden" id="topics_title">
                  【<%= topic.title %>】
              </div>
            </div>
            <div class="flex justify-between" id="card_bottom">
              <div class="flex justify-center items-center" id="topics_thumbnail">
                <%= image_tag topic.image.url, id: "topics_img" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="text-center mt-6">
      <%= paginate @topics %>
    </div>
  </div>
</div>
