<div class="sm:border-2 rounded-lg sm:shadow my-6 p-1 sm:p-8" id="form_wrap">
  <%= form_with model: @main_plan, local: true do |f| %>
    <div class="w-full" id="l_div">
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :fee_type %>
        <%= f.select :fee_type, MainPlan.fee_types_i18n.invert%>
      </div>
    </div>
    <div id="l_div">
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :div_day %>
        <%= f.select :div_day, MainPlan.div_days_i18n.invert %>
      </div>
    </div>
    <div id="l_div">
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :div_time %>
        <%= f.select :div_time, MainPlan.div_times_i18n.invert %>
      </div>
    </div>
    <div id="l_div">
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :div_member %>
        <%= f.select :div_member, MainPlan.div_members_i18n.invert %>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2" id="l_fee">
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :adult_fee %>
        <%= f.text_field :adult_fee, required: true, type: "number", min:"0" %>
      </div>
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :student_fee %>
        <%= f.text_field :student_fee, required: true, type: "number", min:"0" %>
      </div>
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :senior_fee %>
        <%= f.text_field :senior_fee, required: true, type: "number", min:"0" %>
      </div>
      <div class="form_box">
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :child_fee %>
        <%= f.text_field :child_fee, required: true, type: "number", min:"0" %>
      </div>
    </div>
    <div id="l_note">
      <div>
        <i class="fas fa-caret-square-right text-blue-600"></i>
        <%= f.label :note %>
      </div>
      <div>
        <%= f.text_area :note %>
      </div>
    </div>
    <%= f.submit "登録", class: "btn_form_create w-full" %>
  <% end %>
</div>

