<%= render "main_plans/header_main_plans" %>

<h1 class="page_title">料金一覧</h1>
<div id="search_box">
  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, "プラン名:", class: 'first_label'%>
    <%= f.search_field :name_cont %>
    <%= f.label :div_member_eq, "会員:" %>
    <%= f.select :div_member_eq, MainPlan.div_members.map{|k, v| [MainPlan.div_members_i18n[k], v]}, include_blank: true %>
    <%= f.label :div_day_eq, "曜日:" %>
    <%= f.select :div_day_eq, MainPlan.div_days.map{|k, v| [MainPlan.div_days_i18n[k], v]}, include_blank: true %>
    <%= f.label :div_time_eq, "時間帯:" %>
    <%= f.select :div_time_eq, MainPlan.div_times.map{|k, v| [MainPlan.div_times_i18n[k], v]}, include_blank: true %>
    <%= f.label :time_unit_eq, "単位:" %>
    <%= f.select :time_unit_eq, MainPlan.time_units.map{|k, v| [MainPlan.time_units_i18n[k], v]}, include_blank: true %>
    <%= f.submit "検索", class: "btn btn-primary btn-sm"  %>
  <% end %>
</div>
<div class='text-nowrap table-responsive' id="table_wrap">
  <table class="table table-bordered table-hover table-fixed" id="index_plan_table">
    <thead>
      <tr id="table_heading" class="bg-primary">
        <th scope="col">No.</th>
        <th scope="col">プラン名</th>
        <th scope="col">会員</th>
        <th scope="col">曜日</th>
        <th scope="col">時間帯</th>
        <th scope="col">単位</th>
        <th scope="col">一般</th>
        <th scope="col">学生</th>
        <th scope="col">シニア</th>
        <th scope="col">小学生</th>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @main_plans.each.with_index(1) do |main_plan, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= link_to main_plan.name, main_plan %></td>
          <td><%= main_plan.div_member_i18n %></td>
          <td><%= main_plan.div_day_i18n %></td>
          <td><%= main_plan.div_time_i18n %></td>
          <td><%= main_plan.time_unit_i18n %></td>
          <td><%= main_plan.adult_fee %>円</td>
          <td><%= main_plan.student_fee %>円</td>
          <td><%= main_plan.senior_fee %>円</td>
          <td><%= main_plan.child_fee %>円</td>
          <td><%= link_to "編集", edit_main_plan_path(main_plan) %></td>
          <td><%= link_to "削除", main_plan, method: :delete, data: { confirm: "このプランを削除しますか?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
