<%= form_with model: @main_plan, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.label :div_member %>
    <%= f.select :div_member, MainPlan.div_members.keys %>
    <%= f.label :div_day %>
    <%= f.select :div_day, MainPlan.div_days.keys %>
    <%= f.label :div_time %>
    <%= f.select :div_time, MainPlan.div_times.keys %>
    <%= f.label :time_unit %>
    <%= f.select :time_unit, MainPlan.time_units.keys %>
  </div>
  <div>
    <%= f.label :adult_fee %>
    <%= f.text_field :adult_fee, required: true %>
    <%= f.label :student_fee %>
    <%= f.text_field :student_fee, required: true %>
    <%= f.label :senior_fee %>
    <%= f.text_field :senior_fee, required: true %>
    <%= f.label :child_fee %>
    <%= f.text_field :child_fee, required: true %>
  </div>
  <%= f.submit "登録" %>
<% end %>
