<% content_for :title do %>
  管理画面：ルーム料金詳細
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0">
    <%= render "layouts/header_shop" %>
  </div>   
<% end %>
<% content_for :footer do %>
  <div class="fixed w-full md:hidden">
    <%= render "layouts/footer_shop" %>
  </div>
<% end %>

<div class="flex">
  <div class="flex items-center md:items-start bg-black bg-opacity-80 md:bg-app_bg" id="side_menu_shop">
    <%= render "layouts/side_menu_shop" %>
  </div>
  <div id="main_contents_shop">
    <h1 class="page_title">ルーム料金詳細</h1>
    <div id="show_wrapper">
      <div id="plan_title">
        <p class="bg-yellow-300 px-2 py-2 border-2 border-gray-500 rounded-md"><%= @main_plan.fee_type_i18n %></p>
      </div>
      <table class="table-auto border-collapse border-2 border-gray-500" id="m_plan_div_table">
        <thead>
          <tr id="table_heading" class="bg-blue-500 text-center text-sm font-bold">
            <th class="show_div_table_head">曜日</th>
            <th class="show_div_table_head">時間帯</th>
            <th class="show_div_table_head">区分</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100  text-center text-sm">
            <td class="show_div_table_body"><%= @main_plan.div_day_i18n %></td>
            <td class="show_div_table_body"><%= @main_plan.div_time_i18n %></td>
            <td class="show_div_table_body"><%= @main_plan.div_member_i18n %></td>
          </tr>
        </tbody>
      </table>
      <table class="table-auto border-collapse border-2 border-gray-500 w-full" id="plan_fee_table">
        <thead>
          <tr id="table_heading" class="bg-blue-500 text-center text-sm font-bold">
            <th class="show_fee_table_head w-1/4">一般料金</th>
            <th class="show_fee_table_head w-1/4">学生料金</th>
            <th class="show_fee_table_head w-1/4">シニア料金</th>
            <th class="show_fee_table_head w-1/4">小学生料金</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100  text-center text-sm">
            <td class="show_fee_table_body"><%= @main_plan.adult_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @main_plan.student_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @main_plan.senior_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="show_fee_table_body"><%= @main_plan.child_fee.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
        </tbody>
      </table>
      <div id="plan_note">
        <h2 id="note_title">備考:</h2>
        <%= simple_format(@main_plan.note) %>
      </div>
      <div id="link_btn">
        <%= link_to "編集", edit_main_plan_path(@main_plan), class: "btn_edit" %>
        <%= link_to "削除", main_plan_path(@main_plan), method: :delete, data: { confirm: "このプランを削除しますか?" }, class: "btn_delete" %>
      </div>
    </div>
  </div>
</div>

