<div class="py-4 md:py-6 pb-32 sm:pb-12 lg:pb-0" id="news_wrapper_shop">
  <h2 class="text-center text-lg mt-3 sm:mt-2">【店舗管理メニュー】</h2>
  <div class="mt-3 sm:mt-6 sm:px-6 mx-auto md:max-w-5xl">
    <ul class="mx-auto w-11/12 md:w-full grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-6" id="shop_menu_icon">
      <li class="w-30 h-16 border-4 border-app rounded flex justify-center items-center text-sm md:text-base mt-4 sm:mt-2 bg-gray-100 hover:bg-app hover:text-white">
        <%= link_to "ルーム料金一覧", main_plans_path %>
      </li>
      <li class="w-30 h-16 border-4 border-app rounded flex justify-center items-center text-sm md:text-base px-3 mt-4 sm:mt-2 bg-gray-100 hover:bg-app hover:text-white">
        <%= link_to "ルーム料金登録", new_main_plan_path, id: "dd_menu_last" %>
      </li>
      <li class="w-30 h-16 border-4 border-app rounded flex justify-center items-center text-sm md:text-base px-3 mt-4 sm:mt-2 bg-gray-100 hover:bg-app hover:text-white">
        <%= link_to "ドリンク料金一覧", drink_plans_path %>
      </li>
      <li class="w-30 h-16 border-4 border-app rounded flex justify-center items-center text-sm md:text-base px-3 mt-4 sm:mt-2 bg-gray-100 hover:bg-app hover:text-white">
        <%= link_to "ドリンク料金登録", new_drink_plan_path, id: "dd_menu_last" %>
      </li>
      <li class="w-30 h-16 border-4 border-app rounded flex justify-center items-center text-sm md:text-base px-3 mt-4 sm:mt-2 bg-gray-100 hover:bg-app hover:text-white">
        <%= link_to "TOPICS一覧", shops_topics_path %>
      </li>
      <li class="w-30 h-16 border-4 border-app rounded flex justify-center items-center text-sm md:text-base px-3 mt-4 sm:mt-2 bg-gray-100 hover:bg-app hover:text-white">
        <%= link_to "TOPICS投稿", new_shops_topic_path, id: "dd_menu_last" %>
      </li>
      <li class="w-30 h-16 border-4 border-app rounded flex justify-center items-center text-sm md:text-base px-3 mt-4 sm:mt-2 bg-gray-100 hover:bg-app hover:text-white">
        <%= link_to "利用分析", fee_guides_path, id: "dd_menu_last" %>
      </li>
      <li class="w-30 h-16 border-4 border-app rounded flex justify-center items-center text-sm md:text-base px-3 mt-4 sm:mt-2 bg-gray-100 hover:bg-app hover:text-white">
        <%= link_to "営業時間", business_hours_path, id: "dd_menu_last" %>
      </li>
    </ul>
  </div>
</div>
