<div class="block lg:flex justify-center lg:justify-evenly items-center py-4 md:py-6 xl:py-0" id="news_wrapper_user">
  <div class="mx-auto lg:mx-0" id="news_left">
    <div class="hidden sm:block mt-1 bg-gray-100 rounded-lg shadow-lg mb-2 p-3 pt-2 lg:w-full" id="news_box">
      <div class="w-full rounded text-center bg-app text-white my-2 items-center sm:text-xl">
        NEW!
      </div>
      <% @topics_five.each do |users_topic| %>
        <%= link_to(users_topic_path(users_topic)) do %>
          <div class="mb-1 bg-gray-100 mx-auto" id="each_news">
            <div class="flex">
              <i class="fas fa-chevron-circle-right text-app mr-1" id="news_i"></i>
              <div class="text-xs" id="news_day">
                <%= users_topic.created_at.strftime('%m月%d日') %>
              </div>
              <div class="text-xxs sm:text-xs mr-2" id="news_shop">
                <%= users_topic.shop.name %>
              </div>
              <div class="text-xs sm:text-base" id="news_title">
                <%= users_topic.title %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to shops_path do %>
      <div class="w-full flex justify-center mb-3 sm:hidden">
        <button class="bg-black bg-opacity-70 rounded-full text-lg text-white border-2 border-app px-12 py-1 mt-2 mb-2">
          <i class="fas fa-search mr-2 text-white"></i>店舗検索
        </button>
      </div>
    <% end %>
    <div class="sm:hidden bg-gray-100 rounded-lg shadow-lg mx-auto mt-3 mb-3 sm:mb-0 p-3" id="news_box">
      <div class="w-full rounded text-center bg-app text-white px-1 mb-3 sm:mb-4 items-center text-xl">
        NEW!
      </div>
      <div class="mx-auto">
        <% @topics_three.each do |users_topic| %>
          <%= link_to(users_topic_path(users_topic)) do %>
            <div class="mb-3 sm:mb-2 bg-gray-100 mx-auto" id="each_news">
              <div class="flex mb-1">
                <i class="fas fa-chevron-circle-right text-app mr-1"></i>
                <div class="text-xs sm:text-base" id="news_day">
                  <%= users_topic.created_at.strftime('%m月%d日') %>
                </div>
                <div class="text-xs sm:text-base mr-2" id="news_shop">
                  <%= users_topic.shop.name %>
                </div>
              </div>
              <div class="flex">
                <div class="text-sm sm:text-base ml-5 sm:ml-0" id="news_title">
                  <%= users_topic.title %>
                </div>
              </div>
              <hr class="mt-1 mb-2">
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="hidden sm:block mt-2">
      <%= link_to "※TOPICS一覧はこちら", users_topics_path, class: "hover:text-app ml-2" %>
    </div>
  </div>
  <%= link_to(users_topic_path(@topics_three.first)) do %>
    <div class="hidden lg:flex items-center bg-black bg-opacity-70" id="news_img_box">
      <%= image_tag @topics_three.first.image.url, id:"news_img" %>
    </div>
  <% end %>
</div>
<% unless shop_signed_in? %>
  <%= render "app_guide_tab" %>
<% end %>
