<tr class="border-b border-gray-200 hover:bg-gray-100">
  <td class="index_table_body hidden md:table-cell"><%= fee_guide_counter + 1 %></td>
  <td class="hidden sm:table-cell border border-gray-400 px-2 py-1 text-center text-xxs sm:text-sm text-blue-600"><%= link_to fee_guide.created_at.strftime('%Y/%m/%d'), fee_guide_path(fee_guide) %></td>
  <td class="sm:hidden border border-gray-400 px-2 py-1 text-center text-xxs sm:text-sm text-blue-600"><%= link_to fee_guide.created_at.strftime('%m/%d'), fee_guide_path(fee_guide) %></td>
  <td class="border border-gray-400 px-2 py-1 text-center text-xxs lg:text-sm"><%= fee_guide.total_fee.to_s(:delimited, delimiter: ',') %>円</td>
  <td class="index_table_body hidden md:table-cell"><%= fee_guide.div_member_i18n %></td>
  <td class="index_table_body text-xxs sm:text-sm"><%= fee_guide.number_of_customers %>名</td>
  <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_adults %>名</td>
  <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_students %>名</td>
  <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_seniors %>名</td>
  <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_children %>名</td>
  <td class="index_table_body text-xxs sm:text-xs"><%= fee_guide.usage_time_i18n %></td>
  <td class="index_table_body text-xxs sm:text-xs"><%= fee_guide.drink_plan_i18n %></td>
  <td class="index_table_body px-2 text-red-600 hidden md:table-cell"><%= link_to "削除", fee_guide, method: :delete, data: { confirm: "この履歴を削除しますか?" } %></td>
</tr>
