<div class="mx-1 mt-4 sm:my-0 sm:mb-0 sm:mx-auto xl:mx-0 pt-2 sm:p-4 border-2 border-app text-sm rounded-2xl bg-white" id="fee_guide_form">
  <%= form_with model: @fee_guide, local: true do |f| %>
    <div class="px-3 pt-4 pb-3 sm:px-2 sm:pb-2 rounded-md hover:bg-yellow-600 hover:bg-opacity-10 ">
      <div class="sm:flex items-center mb-3">
        <p class="text-base  bg-app px-2 py-1 rounded-lg shadow font-black pl-3 sm:pl-2 sm:mb-1 sm:mr-0.5 text-white" id="step_num">
          STEP 1
          <span class="ml-2 text-white sm:hidden" id="step_title_sm">ご利用店舗を選んでください</span>
        </p>
        <p class="hidden sm:block text-base md:text-lg px-2 sm:mb-1" id="step_title">ご利用店舗を選んでください</p>       
      </div>
      <div class="px-2 ml-2 mt-6 sm:mt-0 mb-4 xl:mb-3" id="fee_guide_select">
        <%= f.collection_select :shop_id, Shop.all, :id, :name %>
      </div>
    </div>
    <div class="px-3 pt-4 pb-3 sm:px-2 sm:pb-2 rounded-md hover:bg-yellow-600 hover:bg-opacity-10 ">
      <div class="sm:flex items-center mb-3">
        <p class="text-base  bg-app px-2 py-1 rounded-lg shadow font-black pl-3 sm:pl-2 sm:mb-1 sm:mr-0.5 text-white" id="step_num">
          STEP 2
          <span class="ml-2 text-white sm:hidden" id="step_title_sm">入室予定時刻を選んでください</span>
        </p>
        <p class="hidden sm:block text-base md:text-lg px-2 sm:mb-1" id="step_title">入室予定時刻を選んでください</p>       
      </div>
      <div class="px-2 ml-2 mt-6 sm:mt-0 mb-4 xl:mb-3" id="fee_guide_select">
          <%= f.text_field :start_time, id:"datepicker" %>
      </div>
    </div>
    <div class="px-3 pt-4 pb-2 sm:px-2 sm:pb-2 rounded hover:bg-yellow-600 hover:bg-opacity-10">
      <div class="sm:flex items-center mb-3">
        <p class="text-base bg-app px-2 py-1 rounded-lg shadow font-black pl-3 sm:pl-2 sm:mb-1 sm:mr-0.5 text-white" id="step_num">
          STEP 3
          <span class="ml-2 text-white sm:hidden" id="step_title_sm">会員登録はされていますか？</span>
        </p>
        <p class="hidden sm:block text-base md:text-lg px-2 sm:mb-1" id="step_title">会員登録はされていますか？</p>
      </div>
      <div class="mb-2 sm:mb-1 sm:flex flex-wrap px-2">
        <div class="flex items-center mr-5 mb-1 text-lg sm:text:base">
          <%= f.radio_button :div_member, :member %>
          <%= f.label :会員登録済みor店頭で登録予定, class: "ml-1 text-red-500", id: "radio_title" %>
        </div>
        <div class="flex items-center mb-3 sm:mb-1 text-lg sm:text:base">
          <%= f.radio_button :div_member, :other %>
          <%= f.label :会員登録の予定なし, class: "ml-1", id: "radio_title" %>
        </div>
      </div>
    </div>
    <div class="px-3 pt-4 pb-1 sm:px-2 sm:pb-2 rounded-md hover:bg-yellow-600 hover:bg-opacity-10 ">
      <div class="sm:flex items-center mb-3">
        <p class="text-base bg-app px-2 py-1 rounded-lg shadow font-black pl-3 sm:pl-2 sm:mb-1 sm:mr-0.5 text-white" id="step_num">
          STEP 4
          <span class="ml-2 text-white sm:hidden" id="step_title_sm">ご利用人数を入力してください</span>
        </p>
        <p class="hidden sm:block text-base md:text-lg px-2 sm:mb-1" id="step_title">ご利用人数を入力してください</p>
      </div>
      <div class="grid grid-cols-2 sm:grid-cols-4 w-full sm:mb-1">
        <div class="flex justify-center items-end mt-2 mb-4 sm:mr-3" id="fee_guide_input">
          <%= f.label :一般, class: "text-green-500 font-black" %><span class="text-green-500">:</span>
          <%= f.select :number_of_adults, [["0", 0],["1", 1], ["2", 2], ["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20]], { include_blank: "選択してください ▼" }, {class: "mx-2 bg-white", id: "num_customers", required: true} %><span>名</span>
        </div>
        <div class="flex justify-center items-end mb-4 sm:mr-3" id="fee_guide_input">
          <%= f.label :学生, class: "text-blue-500 font-black" %><span class="text-blue-500">:</span>
          <%= f.select :number_of_students, [["0", 0],["1", 1], ["2", 2], ["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20]], { include_blank: "選択してください ▼" }, {class: "mx-2 bg-white", id: "num_customers", required: true} %><span>名</span>            
        </div>
        <div class="flex justify-center items-end mb-4 sm:mr-3" id="fee_guide_input">
          <%= f.label :シニア, class: "text-yellow-900 font-black"  %><span class="text-yellow-900">:</span>
          <%= f.select :number_of_seniors, [["0", 0],["1", 1], ["2", 2], ["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20]], { include_blank: "選択してください ▼" }, {class: "mx-2 bg-white", id: "num_customers", required: true} %><span>名</span>
        </div>
        <div class="flex justify-center items-end mb-4 sm:mr-3" id="fee_guide_input">
          <%= f.label :小学生, class: "text-red-500 font-black"  %><span class="text-red-500">:</span>
          <%= f.select :number_of_children, [["0", 0],["1", 1], ["2", 2], ["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20]], { include_blank: "選択してください ▼" }, {class: "mx-2 bg-white", id: "num_customers", required: true} %><span>名</span>
        </div>
      </div>
    </div>
    <div class="px-3 pt-4 pb-3 sm:px-2 sm:pb-2 rounded-md hover:bg-yellow-600 hover:bg-opacity-10 ">
      <div class="sm:flex items-center mb-3">
        <p class="text-base  bg-app px-2 py-1 rounded-lg shadow font-black pl-3 sm:pl-2 sm:mb-1 sm:mr-0.5 text-white" id="step_num">
          STEP 5
          <span class="ml-2 text-white sm:hidden" id="step_title_sm">ご利用時間を選んでください</span>
        </p>
        <p class="hidden sm:block text-base md:text-lg px-2 sm:mb-1" id="step_title">ご利用時間を選んでください</p>       
      </div>
      <div class="px-2 ml-2 mt-6 sm:mt-0 mb-4 xl:mb-3" id="fee_guide_select">
        <%= f.select :usage_time, FeeGuide.usage_times_i18n.invert, selected: "two_hour" %>
      </div>
    </div>
    <div class="px-3 pt-4 pb-3 sm:px-2 sm:pb-2 rounded-md hover:bg-yellow-600 hover:bg-opacity-10 ">
      <div class="sm:flex items-center mb-3">
        <p class="text-base bg-app px-2 py-1 rounded-lg shadow font-black pl-3 sm:pl-2 sm:mb-1 sm:mr-0.5 text-white" id="step_num">
          STEP 6
          <span class="ml-2 text-white sm:hidden" id="step_title_sm">ドリンクコースを選んでください</span>
        </p>
        <p class="hidden sm:block text-base md:text-lg px-2 sm:mb-1" id="step_title">ドリンクコースを選んでください</p> 
      </div>
      <div class="px-2 ml-2 mt-6 sm:mt-0 mb-4 xl:mb-3" id="fee_guide_select">
        <%= f.select :drink_plan, FeeGuide.drink_plans_i18n.invert, class: "bg-white" %>
      </div>   
    </div>
    <div class="text-center mb-3 sm:mb-0">
      <%= f.submit "RESULT", class: "btn_fee_guide cursor-pointer" %>
    </div>
  <% end %>
</div>

