<div class="mx-1 my-4 sm:my-0 sm:mb-0 sm:mx-auto sm:p-4 border-2 border-app text-sm rounded-2xl bg-white" id="fee_guide_form">
  <%= form_with model: @fee_guide, local: true do |f| %>
    <div class="px-3 pt-4 pb-2 sm:px-2 sm:pb-2 rounded hover:bg-yellow-600 hover:bg-opacity-10">
      <div class="sm:flex items-center mb-3">
        <p class="text-base sm:text-sm md:text-base bg-app px-2 py-1 rounded-lg  shadow font-black mb-2 sm:mb-1 sm:mr-0.5 text-white">STEP 1</p>
        <p class="text-base sm:text-sm md:text-lg px-2 mb-1">会員登録はされていますか？</p>
      </div>
      <div class="mb-1 sm:flex flex-wrap px-2">
        <div class="flex items-center mr-5 mb-1">
          <%= f.radio_button :div_member, :member %>
          <%= f.label :会員登録済みor店頭で登録予定, class: "ml-1 text-red-500" %>
        </div>
        <div class="flex items-center mb-1">
          <%= f.radio_button :div_member, :other %>
          <%= f.label :会員登録の予定なし, class: "ml-1" %>
        </div>
      </div>
      <div class="lg:hidden">
        <p class="text-xxs px-2"><i class="far fa-check-circle text-app mr-1"></i>会員の種類 → アプリ/LINE/各種会員カード</p>
        <p class="text-xxs px-2 mb-2 sm:mb-1"><i class="far fa-check-circle text-app mr-1"></i>フロントにて、LINE友達追加で簡単に会員登録ができます</p>
      </div>
    </div>
    <div class="px-3 sm:pt-4 pb-1 sm:px-2 sm:pb-2 rounded-md hover:bg-yellow-600 hover:bg-opacity-10 ">
      <div class="sm:flex items-center mb-3">
        <p class="text-base sm:text-sm md:text-base bg-app px-2 py-1 rounded-lg  shadow font-black mb-2 sm:mr-0.5 text-white">STEP 2</p>
        <p class="text-base sm:text-sm md:text-lg px-2 sm:mb-2">ご利用人数を入力してください</p>
      </div>
      <div class="flex flex-wrap w-full px-2 mb-2 sm:mb-1">
        <div class="flex items-end w1/4 mr-8 sm:mr-4 mb-2 sm:mb-1 text-xs" id="fee_guide_input">
          <%= f.label :一般, class: "text-green-500 font-black" %><span class="text-green-500">:</span>
          <%= f.select :number_of_adults, [["0", 0],["1", 1], ["2", 2], ["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20]], { include_blank: "選択してください ▼" }, {class: "mx-2 bg-white", id: "num_customers", required: true} %><span>名</span>
        </div>
        <div class="flex items-end w1/4 mr-8 sm:mr-4 mb-2 sm:mb-1 text-xs" id="fee_guide_input">
          <%= f.label :学生, class: "text-blue-500 font-black"  %><span class="text-blue-500">:</span>
          <%= f.select :number_of_students, [["0", 0],["1", 1], ["2", 2], ["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20]], { include_blank: "選択してください ▼" }, {class: "mx-2 bg-white", id: "num_customers", required: true} %><span>名</span>            
        </div>
        <div class="flex items-end w1/4 mr-8 sm:mr-4 mb-2 sm:mb-1 text-xs" id="fee_guide_input">
          <%= f.label :シニア, class: "text-yellow-900 font-black"  %><span class="text-yellow-900">:</span>
          <%= f.select :number_of_seniors, [["0", 0],["1", 1], ["2", 2], ["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20]], { include_blank: "選択してください ▼" }, {class: "mx-2 bg-white", id: "num_customers", required: true} %><span>名</span>
        </div>
        <div class="flex items-end w1/4 mr-8 sm:mr-4 mb-2 sm:mb-1 text-xs" id="fee_guide_input">
          <%= f.label :小学生, class: "text-red-500 font-black"  %><span class="text-red-500">:</span>
          <%= f.select :number_of_children, [["0", 0],["1", 1], ["2", 2], ["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20]], { include_blank: "選択してください ▼" }, {class: "mx-2 bg-white", id: "num_customers", required: true} %><span>名</span>
        </div>
      </div>
    </div>
    <div class="px-3 pt-4 pb-3 sm:px-2 sm:pb-2 rounded-md hover:bg-yellow-600 hover:bg-opacity-10 ">
      <div class="sm:flex items-center mb-3">
        <p class="text-base sm:text-sm md:text-base  bg-app px-2 py-1 rounded-lg  shadow font-black mb-2 sm:mr-0.5 text-white">STEP 3</p>
        <p class="text-base sm:text-sm md:text-lg px-2 sm:mb-2">ご利用時間を選んでください</p>       
      </div>
      <div class="px-2" id="fee_guide_select">
        <%= f.select :usage_time, FeeGuide.usage_times_i18n.invert %>
      </div>
      <div class="mt-4 lg:hidden">
        <p class="text-xxs sm:text-xs px-2 mt-2 mb-2"><i class="far fa-check-circle text-app mr-1"></i>3時間を超える場合はフリータイムを選んでください</p>
      </div>
    </div>
    <div class="px-3 pt-4 pb-3 sm:px-2 sm:pb-2 rounded-md hover:bg-yellow-600 hover:bg-opacity-10 ">
      <div class="sm:flex items-center mb-3">
        <p class="text-base sm:text-sm md:text-base bg-app px-2 py-1 rounded-lg  shadow font-black mb-2 sm:mr-0.5 text-white">STEP 4</p>
        <p class="text-base sm:text-sm md:text-lg px-2 sm:mb-2">ドリンクコースを選んでください</p> 
      </div>
      <div class="px-2" id="fee_guide_select">
        <%= f.select :drink_plan, FeeGuide.drink_plans_i18n.invert, class: "bg-white" %>
      </div>
      <div class="sm:mt-4 lg:hidden">
        <div>
          <p class="text-xs px-2 mt-2"><i class="far fa-check-circle text-app mr-1 mb-1"></i>ワンドリンク</p>
          <p class="text-xxs px-2 pl-3">お一人様1杯、ドリンク(418円〜)のご注文が必要です</p>
          <p class="text-xxs px-2 pl-3">ご注文の商品代金が加算されます</p>
        </div> 
        <div>
          <p class="text-xs px-2 mt-2 mb-1"><i class="far fa-check-circle text-app mr-1"></i>ドリンクバー/アルコール飲み放題</p>
          <p class="text-xxs px-2 pl-3 mb-1"><span class="hidden text-white bg-red-500 px-1 mr-1 border border-red-500 rounded-md">オススメ!!</span>学生/シニア料金はドリンクバー料金が無料です</p>
          <p class="text-xxs px-2 pl-3">2杯以上で飲み放題コースがお得です</p>
          <p class="text-xs px-2 mt-4 mb-1 sm:mb-4">アルコール飲み放題コースの詳細は<a href="" class="text-app underline font-black">こちら</a></p>
        </div>               
      </div>    
    </div>
    <div class="text-center mb-3 sm:mb-0">
      <%= f.submit "RESULT", class: "btn_fee_guide cursor-pointer" %>
    </div>
  <% end %>
  <!--Close modal button-->
  <button id="close_btn" type="button" class="focus:outline-none hidden sm:block">
    <i class="far fa-times-circle text-app text-3xl"></i>
    <p class="text-app">閉じる</p>
  </button>
</div>

