<% content_for :title do %>
  料金案内結果
<% end %>
<% content_for :header do %>
  <% if shop_signed_in? %>
    <div class="fixed w-full top-0 left-0 z-10">
      <%= render "layouts/header_shop" %>
    </div>
  <% else %>
    <div class="fixed w-full top-0 left-0 z-10">
      <%= render "layouts/header_user" %>
    </div>
  <% end %>
<% end %>
<% content_for :footer do %>
  <% if shop_signed_in? %>
    <div class="fixed w-full md:hidden">
      <%= render "layouts/footer_shop" %>
    </div>
  <% else %>
    <%= render "layouts/footer_user" %>
  <% end %>
<% end %>
<% if shop_signed_in? %>
  <div id="margin_wrapper_shop"></div>
<% else %>
  <div id="margin_wrapper"></div>
  <% breadcrumb :fee_guide_result %>
  <%= breadcrumbs separator: " &rsaquo; " %>
<% end %>
<% if shop_signed_in? %>
  <div class="flex">
    <div class="flex items-center md:items-start bg-black bg-opacity-80 md:bg-app_bg" id="side_menu_shop">
      <%= render "layouts/side_menu_shop" %>
    </div>
    <div id="result_fee_guide_shop">
      <%= render "result_fee_guide" %>
    </div>
  </div>
<% else %>
  <%= render "layouts/side_menu_user" %>
  <%= render "result_fee_guide" %>
<% end %>
<div class="">
  <div class="bg-gray-600 flex justify-center items-center rounded-lg" id="page_top">
    <a href="#">
      <div id="triangle"></div>
      <p class="text-white text-center">TOP</p>
    </a>
  </div>
</div>
