<div class="" id="fee_info_edit">
  <div class="bg-top-image bg-center h-28 sm:h-40 mb-10"></div>
  <div class="px-3 sm:px-7 mx-auto sm:max-w-screen-md">
    <div class="mx-auto mb-8 pb-6 block justify-center border-2 border-yellow-500 rounded-xl shadow-xl w-4/5 sm:w-3/5">
      <h1 class="w-full h-30 py-4 border border-yellow-500 rounded-tl-lg  rounded-tr-lg bg-yellow-500 text-xl text-white text-center mb-5 font-black">料金のご案内</h1>
      <div class="mx-auto text-sm">
        <% if @fee_info.usage_time_i18n == "フリー" %>
          <div class="flex justify-center items-center ml-3 sm:ml-5 lg:ml-8 mb-2">
            <p class="w-28 text-sm"><i class="far fa-check-circle mr-1 text-yellow-500"></i>ご利用プラン</p>
            <p><i class="fas fa-angle-double-right mr-2"></i></p>
            <p class="w-28">フリータイム</p>
          </div>
        <% elsif @fee_info.usage_time_i18n == "3時間" %>         
          <div class="flex justify-center items-center ml-3 sm:ml-5 lg:ml-8 mb-2">
            <p class="w-28 text-sm"><i class="far fa-check-circle mr-1 text-yellow-500"></i>ご利用プラン</p>
            <p><i class="fas fa-angle-double-right mr-2"></i></p>
            <p class="w-28 text-sm">3時間パック</p>
          </div>
        <% else %>         
          <div class="flex justify-center items-center ml-3 sm:ml-5 lg:ml-8 mb-2">
            <p class="w-28 text-sm"><i class="far fa-check-circle mr-1 text-yellow-500"></i>ご利用プラン</p>
            <p><i class="fas fa-angle-double-right mr-2"></i></p>
            <p class="w-28 text-sm">30分単位プラン</p>
          </div>
          <div class="flex justify-center ml-3 sm:ml-5 lg:ml-8 mb-2">
            <p class="w-28"><i class="far fa-check-circle mr-1 text-yellow-500"></i>ご利用時間</p>
            <p><i class="fas fa-angle-double-right mr-2"></i></p>
            <p class="w-28"><%= @fee_info.usage_time_i18n %></p>
          </div>
        <% end %>
        <div class="flex justify-center ml-3 sm:ml-5 lg:ml-8 mb-2">
          <p class="w-28"><i class="far fa-check-circle mr-1 text-yellow-500"></i>ご利用人数</p>
          <p><i class="fas fa-angle-double-right mr-2"></i></p>
          <p class="w-28"><%= @fee_info.number_of_customers %>名様</p>
        </div>
        <div class="flex justify-center items-center ml-3 sm:ml-5 lg:ml-8 mb-2">
          <p class="w-28 text-xs"><i class="far fa-check-circle mr-1 text-sm text-yellow-500"></i>ドリンクプラン</p>
          <p><i class="fas fa-angle-double-right mr-2"></i></p>
          <p class="w-28 text-xs"><%= @fee_info.drink_plan_i18n %></p>
        </div>
      </div>
      <div class="flex justify-center items-center mt-5">
        <p class="text-xl text-white px-3 py-2 mr-5 rounded-xl shadow bg-yellow-500">料金合計</p>
        <p class="text-3xl mr-2 py-1"><%= @fee_info.total_fee.to_s(:delimited, delimiter: ',') %>円</p>
      </div>
      <% if @fee_info.drink_plan_i18n == "ワンドリンク" %>
          <p class="mt-3 text-center text-xs text-red-500">お一人様1杯、ドリンク(418円〜)のご注文が必要です</p>
          <p class="text-center text-xs text-red-500">上記料金にご注文のドリンク代金が加算されます</p>
      <% end %>
    </div>
    <h3 class="mb-2 font-black"><i class="fas fa-play-circle text-yellow-500"></i> 料金内訳</h3>
    <table class="w-full border-collapse border-2 border-yellow-500  overflow-y-scroll sm:w-full sm:max-w-screen-md">
      <thead>
        <tr id="table_heading" class="">
          <th class="fee_info_table_head bg-yellow-400">税込料金</th>
          <th class="fee_info_table_head sm:hidden px-1 bg-yellow-600 bg-opacity-20">
            <p>ルーム</p>
            <p>料金</p>          
          </th>
          <th class="fee_info_table_head hidden sm:table-cell bg-yellow-600 bg-opacity-20">ルーム料金</th>
          <th class="fee_info_table_head sm:hidden px-1 bg-yellow-600 bg-opacity-20">
            <p>ドリンク</p>
            <p>料金</p>          
          </th>
          <th class="fee_info_table_head hidden sm:table-cell bg-yellow-600 bg-opacity-20">ドリンク料金</th>
          <th class="fee_info_table_head sm:hidden px-1 bg-yellow-600 bg-opacity-20">
            <p>お一人様</p>
            <p>あたり</p>          
          </th>
          <th class="fee_info_table_head hidden sm:table-cell bg-yellow-600 bg-opacity-20">お一人様あたり</th>
          <th class="fee_info_table_head sm:hidden px-1 bg-yellow-600 bg-opacity-20">
            <p>ご利用</p>
            <p>人数</p>          
          </th>
          <th class="fee_info_table_head hidden sm:table-cell bg-yellow-600 bg-opacity-20">ご利用人数</th>
          <th class="fee_info_table_head bg-yellow-600 bg-opacity-20">合計</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-20">
          <% if @fee_info.number_of_adults > 0 %>
            <td class="border-2 border-yellow-500 px-2 py-1  text-green-500 text-center text-xs sm:text-sm font-black">一般</td>
            <td class="fee_info_table_body  text-green-500"><%= @fee_info.adult_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body  text-green-500"><%= @fee_info.adult_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body  text-green-500"><%= @fee_info.adult_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body  text-green-500"><%= @fee_info.number_of_adults %>名</td>
            <td class="fee_info_table_body  text-green-500"><%= @fee_info.adult_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% else %>
            <td class="border-2 border-yellow-500 px-2 py-1  text-green-500 text-center text-xs sm:text-sm font-black">一般</td>
            <td class="fee_info_table_body text-green-100"><%= @fee_info.adult_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-green-100"><%= @fee_info.adult_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-green-100"><%= @fee_info.adult_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-green-100"><%= @fee_info.number_of_adults %>名</td>
            <td class="fee_info_table_body  text-green-100"><%= @fee_info.adult_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% end %>
        </tr>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-10">
          <% if @fee_info.number_of_students > 0 %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-blue-500 text-center text-xs sm:text-sm font-black">学生</td>
            <td class="fee_info_table_body text-blue-500"><%= @fee_info.student_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-blue-500"><%= @fee_info.student_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-blue-500"><%= @fee_info.student_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-blue-500"><%= @fee_info.number_of_students %>名</td>
            <td class="fee_info_table_body text-blue-500"><%= @fee_info.student_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% else %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-blue-500 text-center text-xs sm:text-sm font-black">学生</td>
            <td class="fee_info_table_body text-blue-100"><%= @fee_info.student_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-blue-100"><%= @fee_info.student_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-blue-100"><%= @fee_info.student_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-blue-100"><%= @fee_info.number_of_students %>名</td>
            <td class="fee_info_table_body text-blue-100"><%= @fee_info.student_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% end %>
        </tr>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-10">
          <% if @fee_info.number_of_seniors > 0 %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-yellow-900 text-center text-xs sm:text-sm font-black">シニア</td>
            <td class="fee_info_table_body text-yellow-900"><%= @fee_info.senior_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-yellow-900"><%= @fee_info.senior_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-yellow-900"><%= @fee_info.senior_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-yellow-900"><%= @fee_info.number_of_seniors %>名</td>
            <td class="fee_info_table_body text-yellow-900"><%= @fee_info.senior_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% else %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-yellow-900 text-center text-xs sm:text-sm font-black">シニア</td>
            <td class="fee_info_table_body text-yellow-100"><%= @fee_info.senior_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-yellow-100"><%= @fee_info.senior_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-yellow-100"><%= @fee_info.senior_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-yellow-100"><%= @fee_info.number_of_seniors %>名</td>
            <td class="fee_info_table_body text-yellow-100"><%= @fee_info.senior_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% end %>        
        </tr>
        <tr class="border-b border-yellow-500 hover:bg-yellow-600 hover:bg-opacity-10">
          <% if @fee_info.number_of_children > 0 %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-red-500 text-center text-xs sm:text-sm font-black">小学生</td>
            <td class="fee_info_table_body text-red-500"><%= @fee_info.child_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-red-500"><%= @fee_info.child_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-red-500"><%= @fee_info.child_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-red-500"><%= @fee_info.number_of_children %>名</td>
            <td class="fee_info_table_body text-red-500"><%= @fee_info.child_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% else %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-red-500 text-center text-xs sm:text-sm font-black">小学生</td>
            <td class="fee_info_table_body text-red-100"><%= @fee_info.child_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-red-100"><%= @fee_info.child_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-red-100"><%= @fee_info.child_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_info_table_body text-red-100"><%= @fee_info.number_of_children %>名</td>
            <td class="fee_info_table_body text-red-100"><%= @fee_info.child_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <div class="text-xxs sm:text-xs mt-2">
      <p class="text-red-500"><i class="far fa-check-circle text-yellow-500 mr-1 sm:mr-2"></i>学生/シニア料金はドリンクバー無料です。</p>
      <p><i class="far fa-check-circle text-yellow-500 mr-1 sm:mr-2"></i>昼料金/夜料金は19時を超えたご利用分から切り替わります。</p>
      <p><i class="far fa-check-circle text-yellow-500 mr-1 sm:mr-2"></i>実際のチェックイン時間によって、誤差が発生する場合がございます。</p>
    </div>
  </div>
</div>

<div class="sm:max-w-screen-md sm:mx-auto px-1 sm:px-7 pb-6" id="fee_info_wrap">
  <h3 class="mt-8 mb-2 ml-3 sm:ml-0 font-black"><i class="fas fa-play-circle text-yellow-500 mr-1"></i>条件を変えて計算する</h3>
  <%= render "form_fee_info" %>
</div>
