<h3 class="mb-2 font-black"><i class="fas fa-play-circle text-yellow-500"></i> 料金内訳</h3>
    <table class="w-full border-collapse border-2 border-yellow-500  overflow-y-scroll sm:w-full sm:max-w-screen-md">
      <thead>
        <tr id="table_heading" class="">
          <th class="fee_guide_table_head bg-yellow-400">税込料金</th>
          <th class="fee_guide_table_head sm:hidden px-1 bg-yellow-600 bg-opacity-20">
            <p>ルーム</p>
            <p>料金</p>          
          </th>
          <th class="fee_guide_table_head hidden sm:table-cell bg-yellow-600 bg-opacity-20">ルーム料金</th>
          <th class="fee_guide_table_head sm:hidden px-1 bg-yellow-600 bg-opacity-20">
            <p>ドリンク</p>
            <p>料金</p>          
          </th>
          <th class="fee_guide_table_head hidden sm:table-cell bg-yellow-600 bg-opacity-20">ドリンク料金</th>
          <th class="fee_guide_table_head sm:hidden px-1 bg-yellow-600 bg-opacity-20">
            <p>お一人様</p>
            <p>あたり</p>          
          </th>
          <th class="fee_guide_table_head hidden sm:table-cell bg-yellow-600 bg-opacity-20">お一人様あたり</th>
          <th class="fee_guide_table_head sm:hidden px-1 bg-yellow-600 bg-opacity-20">
            <p>ご利用</p>
            <p>人数</p>          
          </th>
          <th class="fee_guide_table_head hidden sm:table-cell bg-yellow-600 bg-opacity-20">ご利用人数</th>
          <th class="fee_guide_table_head bg-yellow-600 bg-opacity-20">合計</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-20">
          <% if @fee_guide.number_of_adults > 0 %>
            <td class="border-2 border-yellow-500 px-2 py-1  text-green-500 text-center text-xs sm:text-sm font-black">一般</td>
            <td class="fee_guide_table_body  text-green-500"><%= @fee_guide.adult_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body  text-green-500"><%= @fee_guide.adult_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body  text-green-500"><%= @fee_guide.adult_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body  text-green-500"><%= @fee_guide.number_of_adults %>名</td>
            <td class="fee_guide_table_body  text-green-500"><%= @fee_guide.adult_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% else %>
            <td class="border-2 border-yellow-500 px-2 py-1  text-green-500 text-center text-xs sm:text-sm font-black">一般</td>
            <td class="fee_guide_table_body text-green-100"><%= @fee_guide.adult_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-green-100"><%= @fee_guide.adult_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-green-100"><%= @fee_guide.adult_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-green-100"><%= @fee_guide.number_of_adults %>名</td>
            <td class="fee_guide_table_body  text-green-100"><%= @fee_guide.adult_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% end %>
        </tr>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-10">
          <% if @fee_guide.number_of_students > 0 %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-blue-500 text-center text-xs sm:text-sm font-black">学生</td>
            <td class="fee_guide_table_body text-blue-500"><%= @fee_guide.student_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-blue-500"><%= @fee_guide.student_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-blue-500"><%= @fee_guide.student_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-blue-500"><%= @fee_guide.number_of_students %>名</td>
            <td class="fee_guide_table_body text-blue-500"><%= @fee_guide.student_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% else %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-blue-500 text-center text-xs sm:text-sm font-black">学生</td>
            <td class="fee_guide_table_body text-blue-100"><%= @fee_guide.student_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-blue-100"><%= @fee_guide.student_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-blue-100"><%= @fee_guide.student_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-blue-100"><%= @fee_guide.number_of_students %>名</td>
            <td class="fee_guide_table_body text-blue-100"><%= @fee_guide.student_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% end %>
        </tr>
        <tr class="border-b border-yellow-500  hover:bg-yellow-600 hover:bg-opacity-10">
          <% if @fee_guide.number_of_seniors > 0 %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-yellow-900 text-center text-xs sm:text-sm font-black">シニア</td>
            <td class="fee_guide_table_body text-yellow-900"><%= @fee_guide.senior_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-yellow-900"><%= @fee_guide.senior_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-yellow-900"><%= @fee_guide.senior_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-yellow-900"><%= @fee_guide.number_of_seniors %>名</td>
            <td class="fee_guide_table_body text-yellow-900"><%= @fee_guide.senior_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% else %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-yellow-900 text-center text-xs sm:text-sm font-black">シニア</td>
            <td class="fee_guide_table_body text-yellow-100"><%= @fee_guide.senior_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-yellow-100"><%= @fee_guide.senior_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-yellow-100"><%= @fee_guide.senior_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-yellow-100"><%= @fee_guide.number_of_seniors %>名</td>
            <td class="fee_guide_table_body text-yellow-100"><%= @fee_guide.senior_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% end %>        
        </tr>
        <tr class="border-b border-yellow-500 hover:bg-yellow-600 hover:bg-opacity-10">
          <% if @fee_guide.number_of_children > 0 %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-red-500 text-center text-xs sm:text-sm font-black">小学生</td>
            <td class="fee_guide_table_body text-red-500"><%= @fee_guide.child_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-red-500"><%= @fee_guide.child_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-red-500"><%= @fee_guide.child_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-red-500"><%= @fee_guide.number_of_children %>名</td>
            <td class="fee_guide_table_body text-red-500"><%= @fee_guide.child_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% else %>
            <td class="border-2 border-yellow-500 px-2 py-1 text-red-500 text-center text-xs sm:text-sm font-black">小学生</td>
            <td class="fee_guide_table_body text-red-100"><%= @fee_guide.child_main_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-red-100"><%= @fee_guide.child_drink_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-red-100"><%= @fee_guide.child_total_fee.to_s(:delimited, delimiter: ',') %>円</td>
            <td class="fee_guide_table_body text-red-100"><%= @fee_guide.number_of_children %>名</td>
            <td class="fee_guide_table_body text-red-100"><%= @fee_guide.child_fee_all.to_s(:delimited, delimiter: ',') %>円</td>
          <% end %>
        </tr>
      </tbody>
    </table>