<% content_for :title do %>
    管理画面：利用分析
<% end %>
<% content_for :header do %>
  <div class="fixed w-full z-50">
    <%= render "layouts/header_shop" %>
  </div>   
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_shop" %>
<% end %>

<div class="flex">
  <div class="flex items-center md:items-start bg-black bg-opacity-80 md:bg-app_bg" id="side_menu_shop">
    <%= render "layouts/side_menu_shop" %>
  </div>
  <div id="main_contents_shop">
    <h1 class="page_title">【利用分析】</h1>
    <h3 class="mt-6 sm:mt-12 text-lg pl-3 sm:pl-4"><i class="fas fa-chevron-circle-right text-app mr-1" id="news_i"></i>案内履歴</h3>
    <div class="h-64 sm:h-80 border border-gray-400 bg-white rounded-lg shadow overflow-x-auto overflow-y-auto relative mx-2 sm:mx-4 md:my-4 items-center">
      <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative" id="table_index">
        <thead>
          <tr id="table_heading" class="bg-blue-500 sticky top-0">
            <th class="index_table_head hidden md:table-cell">No.</th>
            <th class="index_table_head">案内日</th>
            <th class="index_table_head">料金合計</th>
            <th class="index_table_head hidden md:table-cell">会員</th>
            <th class="index_table_head">利用人数</th>
            <th class="index_table_head hidden md:table-cell">一般</th>
            <th class="index_table_head hidden md:table-cell">学生</th>
            <th class="index_table_head hidden md:table-cell">シニア</th>
            <th class="index_table_head hidden md:table-cell">小学生</th>
            <th class="index_table_head">利用時間</th>
            <th class="index_table_head">ドリンクプラン</th>
            <th class="border border-gray-400 px-2 py-3"><i class="fas fa-edit text-white"></i></th>
          </tr>
        </thead>
        <tbody>
          <% @fee_guides.each.with_index(1) do |fee_guide, i| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="index_table_body hidden md:table-cell"><%= i %></td>
              <td class="hidden sm:table-cell border border-gray-400 px-2 py-1 text-center text-xs text-blue-600"><%= link_to fee_guide.created_at.strftime('%Y/%m/%d'), fee_guide_path(fee_guide) %></td>
              <td class="sm:hidden border border-gray-400 px-2 py-1 text-center text-xs text-blue-600"><%= link_to fee_guide.created_at.strftime('%m/%d'), fee_guide_path(fee_guide) %></td>
              <td class="border border-gray-400 px-2 py-1 text-center text-xs lg:text-sm"><%= fee_guide.total_fee.to_s(:delimited, delimiter: ',') %>円</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.div_member_i18n %></td>
              <td class="index_table_body"><%= fee_guide.number_of_customers %>名</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_adults %>名</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_students %>名</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_seniors %>名</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_children %>名</td>
              <td class="index_table_body"><%= fee_guide.usage_time_i18n %></td>
              <td class="index_table_body text-xxs sm:text-xs"><%= fee_guide.drink_plan_i18n %></td>
              <td class="index_table_body px-2 text-red-600"><%= link_to "削除", fee_guide, method: :delete, data: { confirm: "この履歴を削除しますか?" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="px-2 sm:px-4 mt-8">
      <div class="py-6 lg:px-6 lg:py-12 border-2 shadow-lg lg:col-span-2">
        <h3 class="text-center mb-6 lg:mb-12 text-lg"><i class="fas fa-chevron-circle-right text-app mr-1" id="news_i"></i>利用数の推移</h3>
        <%= line_chart @fee_guides.group_by_day(:created_at).count %>
      </div>
      <div class="py-6 lg:px-6 lg:py-12 mt-8 border-2 shadow-lg">
        <h3 class="text-center mb-6 lg:mb-12 text-lg"><i class="fas fa-chevron-circle-right text-app mr-1" id="news_i"></i>会員データ</h3>
        <div class="lg:grid lg:grid-cols-3 gap-3">
          <%= pie_chart @member_ratio_data, colors: ["#ff5500", "#10b981", "#3b82f6" ] %>
          <table class="border-collapse table-fixed w-11/12 whitespace-no-wrap bg-white mx-auto max-w-3xl lg:col-span-2 mt-6 lg:mt-0" id="table_index">
            <thead>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <th class="guide_head w-1/5 bg-white"></th>
                <th class="guide_head text-sm sm:text-base w-1/5 py-6 sm:py-3 bg-white">総数</th>
                <th class="guide_head text-sm sm:text-base w-1/5 bg-red-100">会員</th>
                <th class="guide_head text-sm sm:text-base w-1/5 bg-green-100">新規入会</th>
                <th class="guide_head text-sm sm:text-base w-1/5 bg-blue-100">未入会</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white">
                  利用<br class="sm:hidden">(当日)</th>
                <th class="guide_head w-1/5 bg-white">
                  <%= @fee_guide_today %>
                </th>
                <th class="guide_head w-1/5 bg-red-100">
                  <%= @member_today %>
                </th>
                <th class="guide_head w-1/5 bg-green-100">
                  <%= @new_member_today %>
                </th>
                <th class="guide_head w-1/5 bg-blue-100">
                  <%= @other_today %>
                </th>
              </tr>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white">
                  利用<br class="sm:hidden">(月間)
                </th>
                <td class="guide_head w-1/5 bg-white">
                  <%= @fee_guide_month %>
                </td>
                <td class="guide_head w-1/5 bg-red-100">
                  <%= @member_month %>
                </td>
                <td class="guide_head w-1/5 bg-green-100">
                  <%= @new_member_month %>
                </td>
                <td class="guide_head w-1/5 bg-blue-100">
                  <%= @other_month %>
                </td>
              </tr>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white" rowspan="2">月間</th>
                <td class="guide_head w-2/5 bg-white" colspan="2">リピート率</td>
                <td class="guide_head w-2/5 bg-white" colspan="2">
                  <%= ratio(@member_month, @fee_guide_month) %>％
                </td>
              </tr>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="guide_head w-2/5 bg-white text-red-500" colspan="2">新規獲得率</td>
                <td class="guide_head w-2/5 bg-white text-red-500" colspan="2">
                  <%= ratio(@new_member_month, @not_member_month) %>％
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="py-6 lg:px-6 lg:py-12 mt-8 border-2 lg:col-span-2 shadow-lg">
        <h3 class="text-center mb-6 lg:mb-12 text-lg"><i class="fas fa-chevron-circle-right text-app mr-1" id="news_i"></i>顧客層データ</h3>
        <div class="lg:grid lg:grid-cols-3 gap-3">
          <%= pie_chart @generation_ratio_data, colors: ["#10b981", "#3b82f6", "#b45309", "#ef4444" ] %>
          <table class="border-collapse table-fixed w-11/12 whitespace-no-wrap bg-white mx-auto max-w-3xl lg:col-span-2 mt-6" id="table_index">
            <thead>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <th class="guide_head w-1/5 bg-white"></th>
                <th class="guide_head text-sm sm:text-base w-1/5 py-6 sm:py-3 bg-white hidden sm:table-cell">総数</th>
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white text-green-500">一般</th>
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white text-blue-500">学生</th>
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white text-yellow-700">シニア</th>
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white text-red-500">小学生</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white">
                  利用数</th>
                <th class="guide_head bg-white w-1/5 hidden sm:table-cell">
                  <%= @total_customers %>
                </th>
                <th class="guide_head w-1/5 bg-white text-green-500">
                  <%= @total_adults %>
                </th>
                <th class="guide_head w-1/5 bg-white text-blue-500">
                  <%= @total_students %>
                </th>
                <th class="guide_head w-1/5 bg-white text-yellow-700">
                  <%= @total_seniors %>
                </th>
                <th class="guide_head w-1/5 bg-white text-red-500">
                  <%= @total_children %>
                </th>
              </tr>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <th class="guide_head text-sm sm:text-base w-1/5 bg-white">
                  分布
                </th>
                <td class="guide_head w-1/5 bg-white hidden sm:table-cell">
                  100％
                </td>
                <td class="guide_head w-1/5 bg-white text-green-500">
                  <%= ratio(@total_adults, @total_customers) %>％
                </td>
                <td class="guide_head w-1/5 bg-white text-blue-500">
                  <%= ratio(@total_students, @total_customers) %>％
                </td>
                <td class="guide_head w-1/5 bg-white text-yellow-700">
                  <%= ratio(@total_seniors, @total_customers) %>％
                </td>
                <td class="guide_head w-1/5 bg-white text-red-500">
                  <%= ratio(@total_children, @total_customers) %>％
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

