<% content_for :title do %>
    管理画面：料金案内履歴
<% end %>
<% content_for :header do %>
  <div class="fixed w-full z-50">
    <%= render "layouts/header_shop" %>
  </div>   
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_shop" %>
<% end %>

<div class="flex">
  <div class="flex items-center md:items-start bg-black bg-opacity-80 md:bg-app_bg" id="side_menu_shop">
    <%= render "layouts/side_menu_shop" %>
  </div>
  <div id="main_contents_shop">
    <h1 class="page_title">料金案内履歴</h1>
    <div class="h-96 sm:h-80 border border-gray-400 bg-white rounded-lg shadow overflow-x-auto overflow-y-auto relative mx-2 sm:mx-8 my-6 lg:mx-4 items-center">
      <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative" id="table_index">
        <thead>
          <tr id="table_heading" class="bg-blue-500 sticky top-0">
            <th class="index_table_head hidden md:table-cell">No.</th>
            <th class="index_table_head">案内日</th>
            <th class="index_table_head">料金合計</th>
            <th class="index_table_head hidden md:table-cell">会員</th>
            <th class="index_table_head">利用人数</th>
            <th class="index_table_head hidden md:table-cell">一般</th>
            <th class="index_table_head hidden md:table-cell">学生</th>
            <th class="index_table_head hidden md:table-cell">シニア</th>
            <th class="index_table_head hidden md:table-cell">小学生</th>
            <th class="index_table_head">利用時間</th>
            <th class="index_table_head">ドリンクプラン</th>
            <th class="border border-gray-400 px-2 py-3"><i class="fas fa-edit text-white"></i></th>
          </tr>
        </thead>
        <tbody>
          <% @fee_guides.each.with_index(1) do |fee_guide, i| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="index_table_body hidden md:table-cell"><%= i %></td>
              <td class="hidden sm:table-cell border border-gray-400 px-2 py-1 text-center text-xs text-blue-600"><%= link_to fee_guide.created_at.strftime('%Y/%m/%d'), fee_guide_path(fee_guide) %></td>
              <td class="sm:hidden border border-gray-400 px-2 py-1 text-center text-xs text-blue-600"><%= link_to fee_guide.created_at.strftime('%m/%d'), fee_guide_path(fee_guide) %></td>
              <td class="border border-gray-400 px-2 py-1 text-center text-xs lg:text-sm"><%= fee_guide.total_fee.to_s(:delimited, delimiter: ',') %>円</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.div_member_i18n %></td>
              <td class="index_table_body"><%= fee_guide.number_of_customers %>名</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_adults %>名</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_students %>名</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_seniors %>名</td>
              <td class="index_table_body hidden md:table-cell"><%= fee_guide.number_of_children %>名</td>
              <td class="index_table_body"><%= fee_guide.usage_time_i18n %></td>
              <td class="index_table_body text-xxs sm:text-xs"><%= fee_guide.drink_plan_i18n %></td>
              <td class="index_table_body px-2 text-red-600"><%= link_to "削除", fee_guide, method: :delete, data: { confirm: "この履歴を削除しますか?" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <h3 class="text-center mb-3">会員比率(リピート/新規/未入会)</h3>
      <%= pie_chart FeeGuide.group(:div_member).count %>
    </div>
    <div>
      <table class="border-collapse table-fixed w-11/12 whitespace-no-wrap bg-white mx-auto max-w-3xl" id="table_index">
        <thead>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <th class="alcohol_head w-1/5"></th>
            <th class="alcohol_head w-1/5 bg-indigo-100">利用総数</th>
            <th class="alcohol_head w-1/5 bg-red-100">リピート</th>
            <th class="alcohol_head w-1/5 bg-green-100">新規入会</th>
            <th class="alcohol_head w-1/5 bg-green-100">未入会</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <th class="alcohol_head w-1/5">当日</th>
            <th class="alcohol_head w-1/5 bg-indigo-100">
              <%= @fee_guide_today %>
            </th>
            <th class="alcohol_head w-1/5 bg-red-100">
              <%= @member_today %>
            </th>
            <th class="alcohol_head w-1/5 bg-green-100">
              <%= @new_member_today %>
            </th>
            <th class="alcohol_head w-1/5 bg-green-100">
              <%= @other_today %>
            </th>
          </tr>
        </tbody>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <th class="alcohol_head w-1/5">比率</th>
            <th class="alcohol_head w-2/5 bg-red-100" colspan="2">
              総会員利用率：<%= @total_member_ratio_today.round(2) %>％
            </th>
            <th class="alcohol_head w-2/5 bg-red-100" colspan="2">
              新規獲得率：<%= @new_member_ratio_today.round(2) %>％
            </th>
          </tr>
        </tbody>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <th class="alcohol_head w-1/5">月間</th>
            <th class="alcohol_head w-1/5 bg-indigo-100">
              <%= @fee_guide_month %>
            </th>
            <th class="alcohol_head w-1/5 bg-red-100">
              <%= @member_month %>
            </th>
            <th class="alcohol_head w-1/5 bg-green-100">
              <%= @new_member_month %>
            </th>
            <th class="alcohol_head w-1/5 bg-green-100">
              <%= @other_month %>
            </th>
          </tr>
        </tbody>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <th class="alcohol_head w-1/5">比率</th>
            <th class="alcohol_head w-2/5 bg-red-100" colspan="2">
              総会員利用率：<%= @total_member_ratio_month.round(2) %>％
            </th>
            <th class="alcohol_head w-2/5 bg-red-100" colspan="2">
              新規獲得率：<%= @new_member_ratio_month.round(2) %>％
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

