<% content_for :title do %>
  料金案内TOP
<% end %>
<% content_for :header do %>
  <% if shop_signed_in? %>
    <%= render "top_nav_shop" %>
  <% else %>
    <%= render "top_nav_user" %>
  <% end %>
<% end %>
<div id="app_guide_wrapper">
  <% if shop_signed_in? %>
    <%= render "contents_top_shop" %>
  <% else %>
    <%= render "contents_top_user" %>
  <% end %>
</div>
<div id="modal" class="mx-auto bg-black bg-opacity-80 transform scale-0 transition-transform duration-300 sm:pt-4 pb-12">
  <div class="w-11/12 lg:w-2/3 bg-white mx-auto rounded shadow sm:py-12 sm:pt-6">
    <%= render 'form_fee_guide', path: fee_guides_path, method: :post %>
  </div>
  <%= render 'q_and_a' %>
</div>
<div class="flex items-center sm:hidden bg-gray-600" id="guide_footer">
  <%= footer_item %>
</div>
<button id="modal_btn_footer" class="focus:outline-none p-2 pb-4 bg-gray-800 rounded-full ring-8 ring-app sm:hidden" type="button">
  <span class="text-xs text-white">料金案内</span>
  <br>
  <span class="text-xl text-white">START!</span>
</button>
<% if shop_signed_in? %>
  <div class="flex items-center sm:hidden bg-black bg-opacity-80 md pb-24" id="side_menu_shop_f">
    <%= render "layouts/side_menu_shop" %>
  </div>
<% else %>
  <%= render "layouts/side_menu_user" %>
<% end %>
<button id="close_btn" type="button" class="focus:outline-none hidden bg-gray-600 rounded text-center">
  <i class="far fa-times-circle text-app text-2xl"></i>
  <p class="text-white text-xs">閉じる</p>
</button>
<% if @fee_guide.errors.any? %>
  <script type="text/javascript">
    $(document).ready(function() {
      history.pushState('', '', location.href + '/new')
      $('#modal').addClass('scale-100');
          $('#app_guide_wrapper').addClass('hidden');
          $('#close_btn').removeClass('hidden');
    });
  </script>
<% end %>
