<% content_for :title do %>
  管理画面：店舗情報登録
<% end %>
<nav class="flex justify-center items-center w-full" id="gnav">
  <%= link_to root_path do %>
    <img src="/assets/logo.png" id="logo_sign">
  <% end %>
</nav>
<div class="pb-6">
  <h1 class="page_title_shop">店舗アカウント登録</h1>
  <div class="mx-auto max-w-3xl mb-6 px-2 sm:px-0">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <%= f.label :name, "店舗名", class: "text-sm" %>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <%= f.label :email, "メールアドレス", class: "text-sm" %>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.email_field :email, autocomplete: "email", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div>
            <%= f.label :password, "パスワード", class: "text-sm" %>
            <% if @minimum_password_length %>
              <em class="text-xs text-gray-400 not-italic"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
            <% end %>
          </div>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.password_field :password, autocomplete: "new-password", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <%= f.label :password_confirmation, "パスワード確認", class: "text-sm " %>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div class="">
            <%= f.label :phone_number, "電話番号", class: "text-sm" %>
          </div>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <p class="text-xs text-gray-400 ml-3">※ハイフンなしで入力してください</p>
          <%= f.text_field :phone_number, autocomplete: "phone_number", placeholder: "例: 0312345678", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div class="">
            <%= f.label :postcode, "郵便番号", class: "text-sm" %>
          </div>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <p class="text-xs text-gray-400 ml-3">※ハイフンなしで入力してください</p>
          <p class="text-xs text-gray-400 ml-3">※都道府県/市区町村が自動入力されます</p>
          <%= f.text_field :postcode, autocomplete: "postcode", placeholder: "例: 1638001", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div class="">
            <%= f.label :prefecture_name, "都道府県", class: "text-sm"%>
          </div>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, autocomplete: "prefecture_name", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12 bg-white" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div class="">
            <%= f.label :address_city, "市区町村", class: "text-sm" %>
          </div>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.text_field :address_city, autocomplete: "address_city", placeholder: "例: 新宿区", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div class="">
            <%= f.label :address_street, "町名/番地", class: "text-sm" %>
          </div>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <p class="text-xs text-gray-400 ml-3">※丁目以降はハイフン形式で入力してください</p>
          <%= f.text_field :address_street, autocomplete: "address_street",placeholder: "例: 西新宿2-8-1", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div class="">
            <%= f.label :address_building, "建物", class: "text-sm" %>
          </div>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.text_field :address_building, autocomplete: "address_building", placeholder: "例: サンプルビル2F", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-500 mb-4">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div class="">
            <%= f.label :image, "店舗画像", class: "text-sm" %>
          </div>
        </div>
        <div class="sm:w-3/5 p-8 mx-auto">
          <div class="shop_image border border-gray-400 mt-2 text-center rounded-lg overflow-hidden cursor-pointer" id="img_field" onClick="$('#file').click()" >
            <%= image_tag "/assets/room01.jpg" %>
          </div>
          <%= f.file_field :image, class: "image", style: "display:none;", id: "file"%>
        </div>
      </div>
      <div class="actions mt-6 w-5/6 sm:w-2/3 mx-auto flex justify-center">
        <%= f.submit "アカウント登録", class: "text-sm bg-blue-500 hover:bg-blue-700 text-white px-2 py-2 rounded cursor-pointer" %>
      </div>
    <% end %>
    <div class="flex justify-center mt-3">
      <%= render "shops/shared/links" %>
    </div>
  </div>
</div>
