<% content_for :title do %>
  ユーザー編集
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0">
    <%= render "layouts/header_user" %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>
<div id="margin_wrapper"></div>
<% breadcrumb :user_edit, @user %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="pb-20 mt-6 sm:mt-12" id="sign_wrapper_user">
  <h2 class="page_title">ユーザー編集</h2>
  <div class="sm:border-2 border-app rounded-xl sm:shadow-lg sm:w-5/6 mx-auto py-3 sm:py-9 max-w-3xl sm:mb-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field mb-6 w-11/12 sm:w-5/6 mx-auto">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: "name", class: "border border-gray-400 rounded-lg  px-2 py-2 text-sm w-full" %>
      </div>
      <div class="field mb-6 w-11/12 sm:w-5/6 mx-auto">
        <div class="flex justify-between items-center mb-1 w-full">
          <%= f.label :email, "メールアドレス" %>
          <p class="bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <%= f.email_field :email, autocomplete: "email", class: "border border-gray-400 rounded-lg  px-2 py-2 text-sm w-full" %>
      </div>
      <div class="field mb-3 w-11/12 sm:w-5/6 mx-auto">
        <h4 class="w-full mx-auto">プロフィール</h4>
        <div class="flex justify-evenly items-center w-full mx-auto bg-app_bg py-5 rounded-lg">
          <div class="flex justify-center items-center lg:w-1/2">
            <div class="user_avatar border border-gray-400 rounded-full mt-2 text-center overflow-hidden cursor-pointer" id="img_field" onClick="$('#file').click()" >
              <% if @user.avatar.url.present? %>
                <%= image_tag @user.avatar.url  %>
              <% else %>
                <%= image_tag "/assets/profile_icon.png", id: "avatar_img" %>
              <% end %>
            </div>
            <%= f.file_field :avatar, class: "image block", style: "display:none;", id: "file"%>
          </div>
          <div class="lg:w-1/2">
            <div class="field mx-auto mb-2">
              <%= f.label :birthday %>
              <p class="mt-1">
                <%= raw sprintf(
                f.date_select(
                  :birthday,
                  use_month_numbers: true,
                  discard_day: true,
                  start_year: 1930,
                  end_year: (Time.now.year - 6),
                  default: Date.new(1989, 1, 1),
                  date_separator: '%s'),
                '年 ') + '月' %>
              </p>
            </div>
            <div class="field mx-auto mb-2">
              <%= f.label :sex %>
              <p class="w-1/3 mt-1">
                <%= f.select :sex, User.sexes_i18n.invert, class: "border border-gray-400 rounded-lg  px-2 py-2 text-sm w-11/12" %>
              </p>
            </div>
            <div class="field mx-auto mb-2">
              <%= f.label :occupation %>
              <p class="w-1/3 mt-1">
                <%= f.select :occupation, User.occupations_i18n.invert, class: "border border-gray-400 rounded-lg  px-2 py-2 text-sm w-11/12" %>
              </p>
            </div>
          </div>
        </div>
        <div class="actions mt-6 w-11/12 sm:w-2/3 mx-auto flex justify-center">
          <%= f.submit "編集", class: "text-sm bg-green-500 hover:bg-green-700 text-white px-2 py-2 rounded cursor-pointer w-full" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "layouts/side_menu_user" %>
