<% content_for :title do %>
  ユーザー登録
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0">
    <%= render "layouts/header_user" %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>
<div id="margin_wrapper"></div>
<% breadcrumb :user_sign_up %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="pb-24 sm:pb-12" id="sign_wrapper_user">
  <h2 class="page_title">ユーザー登録</h2>
  <div class="mx-auto max-w-3xl mb-6 px-2 sm:px-0">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-400 border-b-0 rounded-t-lg">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3 rounded-tl-lg">
          <%= f.label :name, class: "text-sm" %>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.text_field :name, autocomplete: "name", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-400 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <%= f.label :email, "メールアドレス", class: "text-sm" %>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.email_field :email, autocomplete: "email", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-400 border-b-0">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3">
          <div>
            <%= f.label :password, "パスワード", class: "text-sm" %>
            <% if @minimum_password_length %>
              <em class="text-xs text-gray-400 not-italic"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
            <% end %>
          </div>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.password_field :password, autocomplete: "new-password", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="field w-full sm:w-11/12 mx-auto sm:flex border border-gray-400 rounded-b-lg">
        <div class="flex justify-between items-center w-full sm:w-2/5 bg-app_bg p-3 rounded-bl-lg">
          <%= f.label :password_confirmation, "パスワード確認", class: "text-sm " %>
          <p class="w-12 bg-red-500 text-white text-xs text-center px-2 py-1 rounded-lg">必須</p>
        </div>
        <div class="w-full sm:w-3/5 p-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border rounded-lg ml-3 px-2 py-2 text-sm w-11/12" %>
        </div>
      </div>
      <div class="actions mt-6 w-11/12 mx-auto flex justify-center">
        <%= f.submit "ユーザー登録", class: "text-sm bg-app hover:bg-yellow-700 text-white px-2 py-2 rounded cursor-pointer w-full" %>
      </div>
      <div class="actions mt-6 w-11/12 mx-auto flex justify-center">
        <%= link_to "ログイン", new_user_session_path, class: "text-sm bg-blue-500 hover:bg-blue-700 text-white px-2 py-2 rounded cursor-pointer w-full text-center" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "layouts/side_menu_user" %>
